[2017-11-21 22:03] asheenlevrai opened #1 "Congratulations! (and a question)"
Wow! your fork looks very neat!

I cannot wait for it to mature a little more and look forward to seeing the stuff you put into TODO implemented in the future :)

For now, I was wondering about how exactly I should use Karabiner Elements and its rules for MonitorControl. Should I install KE? and Then enter the URL you provide into my browser? Excuse my ignorance but could you please elaborate a li

[2017-11-22 13:08] the0neyouseek commented on #1
Thank you @asheenlevrai,

I'll try to find time to work on this project as I have other ideas that I want to implement. 😄
As for your question, here's a step by step :

1. Install Karabiner Elements following this link : https://pqrs.org/osx/karabiner/
(There's a guide on the bottom of the page)
2. Then, open the link from the readme on your browser. This should launch KE and show you this screen

[2017-11-23 07:53] asheenlevrai commented on #1
Thank you so much for the swift answer :)

Unfortunately my problem is not solved. I don't know where my problem comes from. Let me explain:

After installing **M**onitor**C**ontrol and **K**arabiner**E**lements I experienced the same issue as with other solutions like SoundSiphon and other forks of MC:
 - sound is intermittent (mostly off but then comes back for a second or two every now and then

[2017-12-11 12:09] the0neyouseek commented on #1
Hi @asheenlevrai,

Here's what I can tell for the problems you mentionned :

- Your sound issue come most certainly from your driver or an incompatible kext, MonitorControl uses [@kfix/ddcctl](https://github.com/kfix/ddcctl) to control brightness/volume so if your monitor is compatible with it it should be fine
- For the shortcut issue with Karabiner Element, I'm aware of it and will try to fix it

[2017-12-11 12:09] #1 closed

[2018-01-01 18:51] the0neyouseek opened #2 "Add a Preferences View"
I'd like for the app to be able to better handle multiple screens and/or external screens.
Here's what I hope to achieve in this issue for 1.1 :

- [ ] Add a settings window for the options below :
	- [x] List all screens (showing the "default" screen)
	- [x] Ability to include/exclude screens (so you could control only the one you want, the others would be unaffected)
	- [x] Ability to change the

[2018-01-01 19:08] the0neyouseek opened #3 "Fix keyboard shortcut"
In this issue I will focus on working on my own system to handle the brightness and volume key. I will also allow the key to be *pass-through*, meaning that if your current screen is a native display, the app will simply pass the command to macOS default, changing the brightness/volume natively.

Hopefully this will fix the following issues :
- `Karabiner Elements` dependency
- Using the shortcut

[2018-01-01 19:11] the0neyouseek opened #4 "Lint"
- [ ] Add [SwiftLint](https://github.com/realm/SwiftLint) to the project & lint + fix the entire codebase.

[2018-01-02 10:40] the0neyouseek opened #5 "CI & Automatic Updates"
This issue is to simplify the debug and release process :

- [ ] Add a ci service to compile and deploy the new releases to github.
- [ ] Add an auto-update feature (with options to enable/disable the auto check for new releases) with something like [@macmade/GitHubUpdates](https://github.com/macmade/GitHubUpdates)

[2018-01-06 00:54] marknotton opened #6 "Identical monitors cannot be distinguished"
I was surprised to find that my VP2770-LED monitors supported DDC/CI; allowing your app to partially work.

However, where I have two identical monitors, it seems the app can't tell them apart. In the menu bar, it lists both the monitors. They have the same name. It doesn't matter what monitor I adjust the brightness on, it only adjusts one monitor (my primary display).

_Also, the "Default" butto

[2018-01-06 01:40] Amir-Hass opened #7 "How to reset to a default before clicking save as default???"
I realized I shoulda clicked it before hand

[2018-01-06 10:42] the0neyouseek commented on #6
Hi @marknotton ,

Thanks for the detailed issuer, I'll look into it and get back to you soon.

[2018-01-06 10:50] the0neyouseek commented on #7
Hi @Amir-Hass,

Thanks for your question. Actually, the "save as default" button is not for brightness/volume values but for the screen itself. I'm gonna rewrite this part as I found it weird myself.

Have a nice day.

[2018-01-06 10:50] #7 closed

[2018-01-06 15:26] #3 closed

[2018-01-06 15:26] #4 closed

[2018-01-06 23:45] Amir-Hass opened #8 "Native Volume Control on Keyboard stops working with program open"
On version 1.1, the volume wheel on my keyboard stops working, the HUD still shows up but it doesn't change volume. Selecting the volume in my menu bar still works, but I must quit the program to use my volume wheel.
F1/F2 also doesn't change my brightness, unless I'm missing something.

[2018-01-07 10:40] the0neyouseek commented on #8
Hi Amir,

In this version I changed the way I handle the keyboard shortcuts to use the native mac keys. It should work if you have an apple keyboard, but if you have a third party keyboard you should use an utility like [Karabiner Elements](https://github.com/tekezo/Karabiner-Elements) to map your function keys to the correct mac equivalent (brightness up/down for <kbd>F1</kbd> & <kbd>F2</kbd>, mu

[2018-01-07 11:01] the0neyouseek commented on #2
- [ ] Add the ability to choose to listen for "Both brightness and volume keys", "Only brightness" or "Only Volume"
- [ ] Add the ability to switch between listening for native mac key or <kbd>F1</kbd> function keys events

[2018-01-07 20:46] the0neyouseek commented on #6
Hi again @marknotton ,

I've just pushed a commit that will hopefully fix your issue, could you test if it works now? If you don't have XCode, please tell me and I'll send you a `dmg` of the build.

Have a nice day.

[2018-01-07 22:47] marknotton commented on #6
Hi @the0neyouseek, you work fast!

I don't have any experience with XCode unfortunately. I have it installed, and I've assigned my dev certificate to the project. But I'm unable to run anything. I'm getting this:

[code]

Is there an easy fix for this? Do I need to install/download any dependancies?

Alternatively, you might have to send that dmg of the build.

Thanks :)

[2018-01-08 07:53] the0neyouseek commented on #6
Hi,

Yes you need to have [Cocoapods](https://cocoapods.org/) installed and then launch the command
[code]
from your terminal at the root of the projet.
I'll send you a dmg tonight ([~7pm GMT+1](https://www.timeanddate.com/worldclock/france/paris)) if you still need it.

[2018-01-09 11:28] dzg opened #9 "Keyboard not working & no contrast control"
On my machine, there are no keyboard shortcuts shown in the popup, and no contrast control.

Also, keyboard shortcuts do not work. (Using FunctionFlip.)

Thanks

![image](https://user-images.githubusercontent.com/466557/34718797-69eda1ea-f538-11e7-9879-668ab2740514.png)

[2018-01-09 11:37] dzg opened #10 "Request: no submenu when only one monitor"
For those of us that have only one display, it would be much more convenient to NOT have a separate submenu for the controls. They should just appear directly below the menubar icon.

Thanks

[2018-01-09 12:41] the0neyouseek commented on #10
That's actually a really good idea ! I'll put that in version `1.2`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-09 12:48] the0neyouseek commented on #9
Hi @dzg,

The screenshot on the Readme isn't up to date. Int he current version I've removed the contrast slider as I plan to have it only if you choose to in a preference window.

For the keyboard shortcut I currently use an Apple Keyboard so I didn't test with a third party keyboard nor FunctionFlip but as for the contrast, I plan to have a preference to choose if you want the app to listen for

[2018-01-09 16:53] the0neyouseek opened #11 "Handle monitors with no sound"
Better handle monitor with no sound if possible

- [ ] Detect monitor with no sound
- [ ] Do not display the sound slider
- [ ] Sound control should "pass-through"

[2018-01-12 05:24] Amir-Hass commented on #8
Installed Karabiner Elements, using their shortcut for volume and the volume wheel on my Corsair K70 (third party keyboard), doesn't change volume. Must go through Apple menu when MonitorControl is running.

[2018-01-12 07:30] the0neyouseek commented on #8
Hi @Amir-Hass,

I'm currently working on a fix. It should be out this weekend.

Have a nice day.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-01-13 09:46] the0neyouseek commented on #6
So, after looking a bit more on how to fix this I found this [issue](https://github.com/kfix/ddcctl/issues/17) on the DDCCTL repo.
As it seems to be an upstream issue, there's nothing much I can do, so I'm closing this for now and will update if there's any change from DDCCTL.

[2018-01-13 09:46] #6 closed

[2018-01-13 21:49] #10 closed

[2018-01-30 17:11] nekrasovdmitriy commented on #9
I can confirm that there is no F1/F2 hotkeys support even on wired Mac keyboard (with numeric keypad), app is added in security preferences. Also, contrast adjust is absolutely necessary, for example I have ViewSonic with ambient light sensor — when it is on, it locks brightness slider and you can additionally adjust brightness only by contrast control. So please, bring it back.

[2018-02-07 01:31] Amir-Hass commented on #8
Hey man, just wondering if you've got an update on this? I'm very fond of your program!

[2018-02-07 15:27] the0neyouseek commented on #8
Hi Amir,

I wasn't home for a bit so I didn't have time to look at this but will be sure to do that next weekend

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 21:02] funbben opened #12 "Turning off brightness doesn't work"
Hi, thanks for the good work. Apps works fine for Volume and Brightness on my iiyama 27" LED - B2791QSU-B1

Except that I can't dim the brightness to 0%, the progress bar is at 0%, but there is still brightness on the screen. I would say that backlight remains at 15%

[2018-02-16 21:05] the0neyouseek commented on #12
Hi @funbben,
I'm gonna have a look at this tomorrow and see if I can reproduce it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-16 21:24] funbben commented on #12
Hummm, it might not be a bug. It might be related to the way iiyama implemented brightness dimming.

The monitor OSD says brightness 0%, the only way I found to dim "no light" is to reduce constrast to 0%.

A workaround would be to implement a specific option (in preference menu). It could be called "Force brightness diming"
The program would first dim down to 0% brightness, and then could still d

[2018-02-18 17:31] the0neyouseek commented on #9
Hello @dzg & @nekrasovdmitriy ,

I've pushed an updated version of the app (`1.2`) which should fix this issue. Tell me if it works for you or not (if so I'll re-open this issue).

Thanks, have a nice day.

[2018-02-18 17:31] #9 closed

[2018-02-18 17:31] the0neyouseek commented on #8
Hi @Amir-Hass ,

I've just pushed an update which hopefully fixes your issue. You should now be able to use your default function keys with the app.

Tell me if works for you, If not I'll re-open the issue,
Have a nice day.

[2018-02-18 17:31] #8 closed

[2018-02-18 17:33] the0neyouseek commented on #12
Hi @funbben,

I've just pushed a new version of the app, please take a look as I've included an option to do just that.
If you open the new Preference Window, you can now choose the option to "Lower contrast after brightness" which will put your contrast to 0 when brightness hit zero too.

Tell me if it works for you,
Have a nice day

[2018-02-18 17:33] #12 closed

[2018-02-18 17:33] #2 closed

[2018-02-18 17:57] nekrasovdmitriy opened #13 "Functions keys aren't working"
Thank you for your work, app is super cool, best looking monitor brightness manager on macOS nowdays. Working fine with my Viewsonic and Dell. App starts at login, but f1-f2 keys still don't work for changing brightness. Or maybe there is another shortcut?

**Some suggestions:**
Ability of changing order of displays in preferences. (now second display is first, first display is second in menu bar)

[2018-02-18 18:14] Amir-Hass commented on #13
I use Karabiner-Elements to map my tilde key (next to #1) to the "fn" key on a first-party Apple keyboard, so I can use them. Works flawlessly.

[2018-02-18 18:18] nekrasovdmitriy commented on #13
I use Apple keyboard with numpad, so i have fn key. But fn+f1 or f2 don`t work too.

[2018-02-18 18:19] Amir-Hass opened #14 "Feature: change brightness/volume for all displays, including internal"
The setting to change brightness and volume at the same time for all displays doesn't work. This happens both with the keyboard shortcut and the menu bar widget, they only do one display at a time. (version 1.2)

[2018-02-18 18:30] the0neyouseek commented on #13
Hi @nekrasovdmitriy & @Amir-Hass ,

First, thanks for the feedback 😄 always nice to hear someone enjoy this.

I'll look into the function keys bug tomorrow if I have time or next weekend. My current setup is an Mbp with one external keyboard (from Apple) and one external monitor (Asus PB279Q) so it's a little bit tricky for me to test all cases but I'll try.

For me (without Karabiner installed) b

[2018-02-18 18:32] the0neyouseek commented on #14
Hi again @Amir-Hass ,

Thank you for testing this, as I currently don't have a multi-monitor setup I couldn't test it well. I'll try to see if I can find another monitor to squash this bug soon.

Have a nice day !

[2018-02-19 06:15] funbben commented on #12
Many thanks I installed the latest version, I will be testing it in a couple of days, I'm not at home for now.

[2018-02-19 06:27] funbben opened #15 "Audio source change"
Feature request :
My monitor has monitor (iiyama B2791QSU-B1) has built-in speaker, and I would like to easily change the audio source.

Here is the the use case : I use display from HDMI source, and listen to some music or video.
but sometimes I use audio from line-in during my hands-free calls.
=> It would be nice to have an easy way to change the source.

[2018-02-19 06:35] funbben opened #16 "Activate / Deactivate any monitor"
Feature request : be able to Activate / Deactivate any monitor

Here is the the use case :
When my external monitor is plugged, I deactivate my mac internal monitor, using shortcut
(I use SwitchResX to do that)
Also one thing to be careful about with SwitchResX, I sometimes fall in a situation where not display I working. For instance, when unplugging an external display, or when the computer go o

[2018-02-19 06:38] the0neyouseek commented on #15
Hi @funbben ,

I understand completely, It was something I wanted to do in the next version.

My goal is to have the app automatically detect the audio source, and if it's anything else other than monitor audio, let the system handle it.

What you can do right now is open the app Preference window and change the key settings to only listen for Brightness but it's a bit of a pain if you change audi

[2018-02-19 06:46] the0neyouseek commented on #16
Hi @funbben,

By default the app ignore any built-in screen (as it can be controlled normally) but I'm not sure what you mean by "deactivate" ?

If you want to disable the screen, as in, it not showing in the menu and not responding to shortcut keys, you can already do that by unchecking the box next to it's name in the Preference window.

Do you want this settings to be accessible in the menu dir

[2018-02-19 07:08] funbben commented on #16
By default MacOs will not let you turn-off built in monitor. This is my reason to use SwitchResX.

So I created a shortcut ⌘ + < to turn-of / Deactivate the internal display, and activate my external one
I created another shortcut to activate both display
I created a final one to activate only internal display.

Is it more clear ?

Si tu veux on peut échanger en français, ici ou ailleurs

[2018-02-19 07:34] the0neyouseek commented on #16
J'ai bien compris l'utilité de SwitchResX mais du coup j'ai du mal à voir l'intérêt avec MonitorControl...
Ton but final c'est que l'app puisse faire quoi exactement ? La même chose que SwitchResX ? Avoir des raccourcis pour des scénarios d'écrans à allumer/éteindre ?
Qu'est-ce qui ne fonctionne pas pour toi dans les fonctions actuelles 🙂 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a><

[2018-02-19 09:02] nekrasovdmitriy commented on #13
Maybe it works for because you native apple keyboard and display (built in your MBP) with native  brightness control with f1/f2. In my case, i have Mac Pro with third party displays and didn't have ability to control their brightness by keyboard from the start.

[2018-02-20 08:26] nekrasovdmitriy opened #17 "Display settings resets after sleep"
All application setting are set to zero after waking up from sleep, but displays keep last setting.

![GitHub Logo](https://i.imgur.com/62GriVC.jpg)

[2018-02-20 08:39] the0neyouseek commented on #17
Hi @nekrasovdmitriy,

Thanks for the report, can you tell me which settings are reset exactly ? The ones in the app preferences ? The value of the contrast/brightness/volume levels of displays ? Both ?

[2018-02-20 08:47] nekrasovdmitriy commented on #17
The value of the contrast/brightness/volume levels of displays.

[2018-02-21 20:09] falcn commented on #13
I have Macbook, but F1/F2 keys are not working for me as well. MonitorControl is enabled in Accessibility panel. I've tried enabling/disabling "Use F1, F2 etc as standard function keys", and tried to press keys both with and without Fn, no luck.

Although app definitely highjacks these keys, because, with app running, I'm unable to control internal display brightness while I have a focus in a wind

[2018-02-21 20:16] falcn commented on #11
Unless detection would work flawlessly for a wide variety of monitors, a simple checkbox to disable volume slider would be better. My monitor (Dell P2715Q) has a sound pass through, but volume can't be controlled by ddcctl, it's always 100%.

[2018-02-22 08:09] funbben commented on #12
I just tested, contrast control works fine, but indeed keyboard shortcut doesn't work any more (see issue #14) so I can't really test the combined brightness and contrat dimming

[2018-02-22 08:14] funbben commented on #14
I confirm it doesn't work, changing brightness/contrast with sliders works fine, for external monitor but doesn't work for internal display.

[2018-02-22 08:15] funbben opened #18 "Brightness keyboard shortcuts doesn't work"
It was working fine in 1.1  I could dim brightness on mac internal display, and external displ, but it doesn't work in 1.2.

[2018-02-22 08:20] the0neyouseek commented on #18
Hi @funbben ,

Yeah I just noticed that too, I'll try to fix it this week-end.

[2018-02-22 09:26] funbben commented on #16
For english readers : I would like to only use MonitorControl and get rid of SwitchResX

Ce que j'aimerai c'est pouvoir me passer de SwitchResX qui à la base est une application pour gérer des résolutions. Je trouve que la vocation de MonitorControl répond mieux au Use Case "activer / désactiver des écrans"

A titre d'illustration voici mon installation :
![img_3984_1](https://user-images.githubus

[2018-02-22 22:26] drewlustro commented on #18
@the0neyouseek - I know this is off-topic, but I just wanted to thank you for forking the original code of this app and maintaining a functional replacement. I had no idea that DCC/CI comm was possible on macOS.

**Cheers** 🍻

[2018-02-23 13:25] falcn commented on #12
I can confirm, it's a safety feature of a many monitors. Dell P2715Q doesn't allow to set contrast below 25% over DDC, only manually (OSD controls).

[2018-02-25 18:07] the0neyouseek commented on #17
Hi @nekrasovdmitriy,

I think I've track down this bug to the fact that your monitor may not support to read `ddctl` command values.
Does this also happen when you first launch the app or only after waking from sleep ?

If it's this, what I'll do is test if the monitor support read command and if not, set the slider value to the last value saved.
Though, it has a kind of drawback, meaning that if

[2018-02-25 18:13] the0neyouseek commented on #14
Hi @funbben ,

Actually, this was not what I had in mind with this option. MonitorControl doesn't handle at all the internal display, so the settings should only affect (in theory since I haven't tested it) external display for now.

But as it's a very good suggestion I'll had this to the list of things to do. (Maybe as a separate setting for example)

[2018-02-25 18:41] the0neyouseek commented on #18
Hi everyone and thanks for the kind message @drewlustro,

I've uploaded a `v1.2.1` which should hopefully fix this, tell me if it works for you all.

Have a nice day

[2018-02-25 18:41] the0neyouseek commented on #13
Okay guys,

I've uploaded a new version `v1.2.1` could you try it and see if it works better now, I'm still trying to figure out what's wrong with my code…

[2018-02-25 18:53] #18 closed

[2018-02-25 21:10] falcn commented on #13
Still not working for me.

[2018-02-25 21:33] falcn commented on #13
One thing I noticed: MonitorControl hijacks F1-F2 (they stop working in other apps), while it should use Fn-F1 and Fn-F2, because I have "use F1, F2 etc as standard function keys". I have an app SoundControl which replaces built-in volume control, it interprets hotkeys correctly: Fn-F11 is reduce volume, F11 is unaffected. I can link apps here on github that use brightness control hotkeys correctl

[2018-02-25 21:37] Amir-Hass commented on #13
I'm having that issue too even when I have Function keys set to be standard in kraberiner. With my third party keyboard I set the tilde key to be Fn for the control but it's not working as F1 and F2 adjust brightness without the tilde key pressed

[2018-02-26 08:04] the0neyouseek commented on #13
Okay, I think see where the problem is.

I use the standard keycodes for the function keys and capture the event directly from it. I did not test with karabiner but It may be what prevent your mapping from working, I'll look into that.

And, yes @falcn , MonitorControl hijacks those key because the lib I use is made to do that. It is the intended behavior as, for me, those key should only do that,

[2018-02-26 08:08] nekrasovdmitriy commented on #13
Still not working for me. I have not Karabiner installed, app is allowed in security settings. Sliders controls works well for both displays but f1-f2 keys do nothing.

[2018-02-26 08:14] the0neyouseek commented on #13
Hmm @nekrasovdmitriy,

Can you please tell me a bit more, what keyboard do you have ? Do you have the option "use F1, F2 etc as standard function keys" enabled ? What macOS version are you on ?

[2018-02-26 08:20] nekrasovdmitriy commented on #13
Sure. I have wired Apple Magic Keyboard with numpad, macOS 10.13.3 on Mac Pro 5.1, option "use F1, F2 etc as standard function keys"  is disabled. (i tried to turn it on, it did not help)

[2018-02-26 08:25] the0neyouseek commented on #13
Okay thats weird, I have the exact same setup right in front of me and it works... What's your setup like ? Mbp + external screen(s) ? iMac + external screen(s) ? other ?

[2018-02-26 08:57] nekrasovdmitriy commented on #13
Mac Pro 5.1 + two external displays: Dell and ViewSonic. Pay attention, that my setup does not have native apple built-in display, as in iMac or Mbp, only third party party monitors. Maybe it can be a problem?

[2018-02-26 08:59] the0neyouseek commented on #13
Okay, thanks @nekrasovdmitriy , I'll look into it asap.

[2018-02-26 09:48] falcn commented on #13
@the0neyouseek  my point was: it hijacks keys (meaning that this part is working as intended), but input is ignored (regardless of the state of "use F1, F2 etc as standard function keys"). Just trying to help to pinpoint the issue.

[2018-02-26 11:32] Amir-Hass commented on #13
I'm on 10.12.6 with a corsair K70 keyboard. Two external monitors From ASUS.

[2018-02-26 22:50] foyzur commented on #13
This does not work for me as well. I have a Macbook pro 14,1 with a non Apple USB keyboard and a DELL U3415W. Tested with both Karabiner-elements enabled and disabled. The slider works pretty well.

[2018-03-01 08:02] funbben commented on #18
It still don't work, so for the moment I stay with 1.1 that works fine for shortcut

[2018-03-01 08:13] funbben commented on #17
I have the same behavior, when first launching the app, all sliders are set to 0%
(My monitor is a iiyama B2791QSU-B1)

[2018-03-03 01:43] dzg commented on #13
First, @the0neyouseek, this is awesome, thanks!

Brightness keys aren't working for me either. I have an Apple large keyboard on a Hackintosh. Tried all kinds of combos of fn key, tried FunctionFlip, etc.

[2018-03-04 14:23] falcn commented on #17
P2715Q does not support ddc read, so yeah, everything is at zero after waking up from sleep. It makes sense to set sliders to last used values instead.

[2018-03-05 18:10] iameduardod opened #19 "Feature: Use touchbar keys to control brightness/volume"
External Monitor: Dell U3818DW
Connection: USB-C / Thunderbolt 3
Device: 2016 Macbook Pro touchBar

Unable to control brightness/volume of external monitor using touchbar keys on latest version. Everything works fine on version 1.1

[2018-03-16 00:27] reitermarkus commented on #13
The keys (neither with nor without <kbd>Fn</kbd>) are also not working for me on an Apple Magic Keyboard on a Hackintosh. It does however work with <kbd>Fn</kbd> if I use https://github.com/Bensge/NativeDisplayBrightness/releases/tag/v0.0.5, so maybe this could serve as a pointer towards the cause.

[2018-03-16 08:26] nekrasovdmitriy commented on #13
I can also confirm that F1/F2 + Fn keys works for me in https://github.com/Bensge/NativeDisplayBrightness/releases/tag/v0.0.5

[2018-03-16 08:43] falcn commented on #13
Function keys are working in https://github.com/the0neyouseek/MonitorControl/releases/tag/v1.1

[2018-03-16 09:05] nekrasovdmitriy commented on #13
@falcn Not for me.

[2018-03-20 08:41] abmicyau opened #20 "is there a way to reset the settings back to default?"
I may have messed up the contrast and I'm not sure how it was before..

[2018-03-20 09:12] the0neyouseek commented on #20
Hi @abmicyau ,

I'm sorry but there's no such setting in the app but you can do it in you monitor osd by reseting to "factory settings".
If you want to keep you current settings I'ld suggest you set the contrast value to something between 50 to 75%, in my experience, those values works pretty well for most monitors.

[2018-03-20 09:12] #20 closed

[2018-03-20 09:17] abmicyau commented on #20
okay, thanks for your help! :)

[2018-03-20 14:44] bartekrutkowski commented on #13
I can confirm that 1.2.1 version doesn't work with Apple Keyboard (F1/F2 keys) for Dell U2718Q monitor, even though the volume keys (F10/F11/F12) are working and the brightness slider is working.

[2018-03-20 15:06] reitermarkus commented on #13
For me with a Magic Keyboard, in 1.1, brightness using F1/F2 does not work, but volume using F11/F12 does.

[2018-03-20 16:52] waydabber commented on #13
I can confirm the same issue. Tested on a Mac Mini 2012 (+ Lenovo L24Q) with Apple Wireless Keyboard and a Macbook 2017 (+ LG L27UD88) with an Apple Wireless Keyboard. Both running High Sierra 10.13.3 (17D102). Sliders are working fine. Neither the brightness (F1/F2) nor the volume (F11/F12) keys do nothing. The volume keys are properly hijacked by the app (since the standard F11/F12 volume keys a

[2018-03-21 10:22] the0neyouseek commented on #13
Hi everyone,

Thanks for all your reports, I'll try to have a look quickly to fix this (annoying) bug ! (Hopefully by next week)

[2018-03-25 23:08] reitermarkus commented on #13
I tried to look into this, and it seems that it's not storing the settings correctly by default. After I unchecked and checked my display in the “Display” tab, it started working. Weirdly, I cannot reproduce it by removing the `.plist`, so I'm not 100% sure that this is the problem.

[2018-03-26 06:35] waydabber opened #22 "Ability to manually set Brightness and Contrast levels for keyboard control"
Unfortunatelly my display (LG's 27UD88) cannot dim the Brightness that much. At night time I would like to dim it even more by reducing the Contrast a bit with Brightness set to "0". The app now has an option to "Lower Contrast after Brightness", however this is sets the contrast way too low (+ my display does not seem to have proper support for reading DDC values, so Contrast is not properly rest

[2018-03-26 06:37] waydabber commented on #13
@reitermarkus - thanks for the tip, this solved the issue for me! :)

[2018-03-26 06:51] the0neyouseek commented on #22
Hi @waydabber ,

I can see how that could be useful. I'll look into making that happen in a futur version.

[2018-03-26 10:52] nekrasovdmitriy commented on #13
@reitermarkus Yes, after this tip function keys start working at last, big thanks.

[2018-03-26 19:49] #13 closed

[2018-03-26 20:08] the0neyouseek commented on #13
Thanks @reitermarkus for looking into this, I've got to say I didn't really had the opportunity to 👍

New version is available now right here [`v1.3.0`](../releases/tag/v1.3.0)

[2018-03-27 05:16] Amir-Hass opened #23 "F1 and F2 become overridden when MonitorControl is running"
Hello,
Thank you for your continued development of the program. I like that I can finally edit both monitor's brightness at the same time correctly. However, when MonitorControl is running, I cannot click F1/F2 on my keyboard although in Karabenier-Elements I have it set to use the F1, F2, etc. keys as standard function keys. I have the tilde (`) key on my keyboard set to enable the function key a

[2018-03-27 06:20] waydabber opened #24 "v1.30 keyboard control works intermittently on some displays"
v1.30 - Keyboard control seems to be working as far as the bezel notification (system brightness overlay) is displayed properly. However the actual Brightness is usually not changed or the changes are applied only intermittently. I have to long press F1 decreasing the brightness all the way down, then it eventually dims the display, or I have to long press F2 to increase brightness all the way up

[2018-03-27 07:03] reitermarkus commented on #24
The loop I added is only used when getting the values, not when setting them, so it shouldn't have any effect on the controls.

[2018-03-27 07:14] the0neyouseek commented on #23
Hi @Amir-Hass ,

Right now this is intended behavior as the app listen for keys event on their keycodes directly and these are hardcoded. I will however look for a way to listen only when the `fn` (or whatever key you set as replacement) is pressed (and the other way around if you have enabled the setting `Use F1, F2, etc. keys as standard function keys`).

This should solve your issue 😄

[2018-03-27 07:15] the0neyouseek commented on #24
Hi @waydabber ,

Thanks for the report, I'll look into it asap and edit this answer when I know more.

[2018-03-27 10:47] reitermarkus commented on #23
This is exactly the issue which https://github.com/the0neyouseek/MediaKeyTap/pull/1 should fix.

[2018-03-27 10:57] nekrasovdmitriy commented on #22
Adjusting the step of increasing/lowering Brightness+contrast will be cool feature, +1

[2018-03-27 20:21] marcelfarres commented on #14
I would love to be able to control internal+external brightness together.

[2018-03-28 10:07] waydabber commented on #24
@reitermarkus, thanks for the clarification.

Just to be sure, I tried v1.30 on a differenct Mac and another LG display (an 27UD58B this time), I experienced the same issue. v1.21 is fine.

[2018-04-02 15:12] falcn commented on #17
1.3.0 become worse in that regard. After waking app, sliders are laggy, and do nothing. App has to be restarted to restore its function.

[2018-04-04 12:23] techo91 opened #25 "Works on Dell P2715Q but not on LG IPS277"
Hi,
Thank you for the great app, but a have an issue with the LG IPS277-L display. The Dell P2715Q display connected via DisplayPort works perfectly, but I can't control the brightness of the LG one (connected via HDMI). Is there anything I can do to make that one work?

[2018-04-04 13:16] nekrasovdmitriy opened #26 "Listen for contrast only"
Please add an option for listening for contrast value only. On some displays contrast value has much more steps for dimming display.

[2018-04-13 09:46] funbben commented on #26
Hi, I just installed 1.3.0, and it works fine for Volume/Brightness. Thanks a lot.

As to dim constrat, It could be useful to use option+Brigthness (Or cmd+Brightness)

What's the Apple algorithm is regarding brigthness. I'm pretty sure they use contrast and brightness dimming at the same time when dimming "brightness".

[2018-04-13 09:54] funbben opened #27 "Automatically adjust external display based on internal display + Touch Bar support"
It would be nice to be able to use the mac "auto adjust brightness" to set the brightness of external display automatically

https://i.stack.imgur.com/eYQuM.png

[2018-04-13 09:55] funbben opened #28 "Dim all monitors"
It would be nice to be able to dim all monitors when dimming one screen
(It could be set as an option)

[2018-04-13 11:24] funbben commented on #28
Well, I just noticed that there already is an option for that, however the mac built-in display doesn't dim brightness when using monitor control

[2018-04-14 09:45] the0neyouseek commented on #28
Hi @funbben,

This is a duplicate of #14 😄
I'm closing this, If you want to further discuss this issue, please go and post a message there.

Have a nice day.

[2018-04-14 09:45] #28 closed

[2018-04-14 09:50] the0neyouseek commented on #27
Hi @funbben,

Thats a great idea but would be quite difficult to implement because this feature depends on the ambient light sensor (located next to the camera) of your Macbook Pro/iMac and not all external screen have one.

I'll leave this issue open for now to see if anyone has a better idea about tackling this.

PS. We could, for exemple use the one present on your MBP/iMac if we have one, but

[2018-04-14 09:54] the0neyouseek commented on #25
Hi @techo91,

As this app depends on [kfix/ddcctl](https://github.com/kfix/ddcctl) for controlling external display, it may simply be that the LG IPS277-L does not support DDC.

You should ask your question there for support,
Have a nice day

[2018-04-14 09:54] #25 closed

[2018-04-14 10:07] the0neyouseek commented on #26
Hi @nekrasovdmitriy and @funbben ,

Contrast and Brightness are two separate and completely different things. Here's an image found on [dspguide.com](http://www.dspguide.com/ch23/5.htm) that explains how it works.

[![](http://www.dspguide.com/graphics/F_23_10.gif)](http://www.dspguide.com/ch23/5.htm)

So, having the brightness and contrast synced would not work for a lot of monitors.

But it is a

[2018-04-14 11:56] nekrasovdmitriy opened #30 "Hotkeys doesn't work on fullscreen app on second display"
If any app is open in fullscreen on second monitor, hot keys of MonitorControl on that monitor doesn't work, you have to switch back to desktop view on second display to have them work again.
On main display hot keys work anywhere, on fullscreen apps also.

[2018-04-14 13:30] techo91 commented on #25
According to LG It does. That is the reason I asked. Thank you.

[2018-04-14 17:12] the0neyouseek commented on #30
Hi @nekrasovdmitriy,

That's weird, the hot keys should work independently of the monitor used and not be affected by fullscreen apps at all.

What could be the problem here is that the app determine what screen to apply the hot key to directly from the system using [NSScreen main](https://developer.apple.com/documentation/appkit/nsscreen/1388371-main). This function choose the _'current'_ screen

[2018-04-14 21:47] funbben commented on #27
The idea was to use mac internal sensor and apply same setting as Mac display

[2018-04-14 21:50] funbben commented on #26
Of course brigthness ans contrast are not the same thing, however on Mac internal display you can’t change the contrast.
It seems  you dim the brightness, but i’m pretty sure you dim both at the same time

[2018-04-20 17:32] reitermarkus commented on #23
This was fixed in https://github.com/the0neyouseek/MonitorControl/pull/29. @the0neyouseek, would be great if you could create a new release with it.

[2018-04-26 07:34] falcn commented on #17
Any chance to get it fixed in the next release? I have to restart MonitorControl every time I wake up my macbook, otherwise it hogs CPU and not responding to input. Looks like it is stuck in the ddcctl read loop (Dell P2715Q does not support ddc read)

[2018-04-26 17:42] falcn opened #31 ""Lower contrast after Brightness" is not working as expected - bug?"
Problem: brightness=0 / contrast=75 is still too bright to work at night

Starting point:
Brightness=100
Contrast=75

What I expect:
1) By pressing F1 repeatedly, brightness gets lowered from 100 to zero, after that contrast gets gradually lowered from 75 to zero.
2) Pressing F2 repeatedly increases contrast from 0 to 75, after that brightness starts to increase from 0 too 100 (do we need a settin

[2018-04-28 02:55] reitermarkus commented on #23
@the0neyouseek, ping.

[2018-05-03 11:20] nyrf opened #32 "no hotkeys?"
![1421525346356_ pic](https://user-images.githubusercontent.com/299532/39573735-063891cc-4f07-11e8-836f-8f2a80d250d0.jpg)

[2018-05-07 21:00] CedFlanders opened #33 "Brightness works but no volume control? (U28E590)"
Hi,

First of all thank you so much for making this program, I never thought it would be possible to change brightness on a non apple or ultrafine monitor.

On my U28E590, changing the brightness works like a charm, but the volume never changes, I can change the sliders or use the volume keys and I will see the overlays but the actual volume on the speakers which are connected to my monitor remain

[2018-06-01 18:25] cvachon-akivo opened #34 "Keyboard: volume working but not brightness on external monitor"
With my LG 99UD32 monitor hooked to my 2017 MacBook Pro, only the volume control keys work. The brightness keys still control the MacBook's internal display. I'm using an Apple Magic keyboard.

[2018-06-01 20:15] #34 closed

[2018-06-01 20:15] cvachon-akivo commented on #34
Issue resolved itself after rebooting. 😀

[2018-06-01 20:23] cvachon-akivo opened #35 "Allow controlling brightness and volume with smaller increments from keyboard"
Problem: volume and brightness increments are too big on some monitor.

Please consider adding a preference to allow the user to define the increments for volume and brightness control, when using the keyboard. A integer value on between 1 and 10 would be great.

[2018-06-06 05:58] Lancer233 commented on #32
I  met the same problems...

[2018-06-06 10:17] brechtm opened #36 "Thunderbolt dock and stuttery mouse pointer movement"
After starting MonitorControl, my mouse pointer movement is no longer smooth. Moving a window around is also much less smooth (you could say it's about 10 fps). This is with a Samsung SyncMaster 226BW (DVI) plugged into the HDMI port of a Caldigit Thunderbolt Station 2 and a Mid-2014 15-inch MacBook Pro.

When I directly connect the monitor to my MacBoo, there is no noticeable change in pointer sm

[2018-06-06 10:20] brechtm opened #37 "High CPU usage."
Activity Monitor shows Monitor Control using around 10% CPU time constantly.

I see this behavior with a Samsung SyncMaster 226BW. This monitor does not support querying settings:

[code]

[2018-06-14 19:04] cseelus commented on #14
@the0neyouseek Maybe you could use code from [Brightness Menulet](https://github.com/florianbeck/BrightnessMenulet) to achieve this.

Brightness Menulet sets the brightness for the internal screen as well.

One thing thats really convenient, is the option to follow the main screens (internal screens) brightness, which dims/brightens the external display automatically with the internal display, whe

[2018-06-18 09:31] retrography commented on #14
@cseelus: Your excellent idea is being explored here: #27.

[2018-06-18 09:37] retrography commented on #14
The idea of controlling the internal monitor along with the external is great. It has some caveats, though:

1. The grading of the brightness control is not always the same between internal and external. My understanding is that my external monitor as a more linear grading while the internal MacBook monitor seems to follow a more "visual" logic.
2. The minimums are not the same.The internal monito

[2018-06-18 12:05] cseelus commented on #14
Hi, @retrography , thanks for getting back

1. To get the grading to match will be very difficult I think, I don't know if this will be doable and necessary
2. Brightness Menulet has settings for the min-max values, which work quite well, at least for my setup (MBP 13" 2017 & Dell U2715H
![screen shot 2018-06-18 at 14 02 04](https://user-images.githubusercontent.com/3188392/41534817-3612e4d4-7300-

[2018-06-18 15:55] ifixr opened #38 "Where is "Donate" button?"
This little app is so lovely I have just one issue with it: how can I donate a few quid for all your nice work?

[2018-06-18 20:37] ifixr opened #39 "Brightness keys not detected in fullscreen"
While display focus detection works very well in my set up (MBPr 13 2015 + Dell P2415Q), if an app is running in full screen mode on the external display, media keys control the built-in display.

10.13.5 (17F77)

[2018-06-18 20:37] #39 closed

[2018-06-18 20:43] ifixr commented on #30
I can confirm this. I'm reading this thread in Safari in full screen and hitting the brightness keys control my built-in screen.

[2018-06-21 02:32] methodbox opened #40 "Does Not Work After Waking from Sleep"
The app works great, generally, so thanks!

But if my Mac goes to sleep, once it wakes it no longer sees the monitor as an output source. The media keys will switch to controlling the Mac display and volume itself, rather than the monitor.

A reset restores functionality.

Removing this app restores that functionality.

I'm on macOS 10.13.5.

My monitor is an LG 32UD89-W.

[2018-06-21 07:04] the0neyouseek commented on #40
Hi @methodbox,

Thanks for taking the time to test the app. I'm currently working full time and don't have much free time to develop MonitorControl but I'll try to look this up asap.

Have a nice day.

[2018-06-21 07:05] the0neyouseek commented on #30
Hi @ifixr & @nekrasovdmitriy,

As i'm currently working full time, I don't have much free time to develop MonitorControl but I'll try to look this up asap and fix it in the next version.

Have a nice day.

[2018-06-21 07:16] the0neyouseek commented on #38
Hi @ifixr,

Thank you for kind comment, if you wish to donate directly to me you can do so here on my [Paypal](https://www.paypal.me/broderg).
Or you can donate to support the [French Red Cross](https://soutenir.croix-rouge.fr/don-ponctuel/) here if you prefer.

Have a nice day.

[2018-06-21 07:16] #38 closed

[2018-06-21 07:19] the0neyouseek commented on #37
Hi @brechtm,

Thanks for taking time to test the app. As I work full time I don't have much time to work on this but I'l be sure to take a look at this asap.

Have a nice day.

[2018-06-21 07:26] #32 closed, assigned to nobody

[2018-06-21 07:39] the0neyouseek commented on #31
Hi @falcn,

There are multiple issue here :

1. The way the `Lower contrast after brightness` option currently work is, as you said, to set the contrast to zero when you press <kbd>F1</kbd> one more time after setting the brightness to zero. And return contrast to the previous value after pressing <kbd>F2</kbd>.
This is the (currently) intended behavior, it allows for (some) monitors to set the sc

[2018-06-21 07:47] the0neyouseek commented on #33
Hi @CedFlanders,

First of all, thank you for your kind words. Sadly I can't help you with this issue as it involves the library used to control the monitor [https://github.com/kfix/ddcctl](https://github.com/kfix/ddcctl).
Sadly, your monitor may not support all the options of `DDCCTL` including volume control and this may be the reason your seeing this.
But please do try using the library directl

[2018-06-21 07:47] #33 closed

[2018-06-21 07:53] the0neyouseek commented on #35
Hi @cvachon-akivo,

I was thinking of adding something like Shift <kbd>⇧</kbd> + Option <kbd>alt</kbd> + <kbd>F1</kbd>/<kbd>F2</kbd> to have smaller increments like on a real mac.

I'll keep this issue open and notify you when this is implemented.

Thanks, have a nice day.

[2018-06-21 08:56] cvachon-akivo commented on #35
Hi Guillaume,

That would be perfect👌.

Thank you for your great work on this clever little app!

Best,

Christian

[2018-06-22 09:19] brechtm commented on #36
I also see high CPU usage when the monitor is connected directly to the MacBook (without the Thunderbolt dock). Therefore, I believe these to be two separate issues.

Please only look into this when you feel like it. Open source should be fun :-) I can imagine this one affecting few people and being very tricky to debug.

[2018-06-29 18:39] Erik262 opened #41 "Hide icon on status bar"
Hey very nice work you have done ! 🥇
Want to ask, if is possible to hide the icon on the status bar?.
I'm not really a fan about having to much different icons there :)

[2018-07-05 17:12] Simbe90 opened #42 "Increasing brightness over 100%"
This app works great, but is there a way to increase the brightness for over 100%? If I set my display manually to full brightness, the app shows 255%, but the moment I move the slider, the screen goes dimmer and I can't increase it above 100%.

With an app called Brightness Menulet, I'm able to set the monitor to 255 (full brightness), but it lacks all the features.
![screen shot 2018-07-05 at 20

[2018-07-18 12:30] rowanalex123 commented on #27
Hammerspoon provides the lux reading from the ambient light sensor on Macs

[2018-07-18 14:59] retrography commented on #27
@rowanalex123 Have you actually tried that? The function only returns an error for me -- which is a -1 (on MacBook Pro 2016).

[2018-07-19 13:57] rowanalex123 commented on #27
I tried it now. It returns -1 for me as well on a 2017 Mac pro

[2018-07-26 21:00] mamiksik opened #43 "Bluetooth keyboard support"
I am using a Logitech K760 BL keyboard and when I use brightness control on it. It controls only the MacBook display.

[2018-08-03 07:48] renox92 commented on #31
I agree with @falcn. Would be nice to be able to set maximum contrast, and after brightness hits 0 reduce contrast by increments of 6. When increasing it back, stop at whatever user set as max, then increase brightness. I myself use between 35 and 65 contast at night so this feature would be really helpful.

Otherwise it's a great app, so thank you.

[2018-08-03 12:00] kocinko opened #44 "After the PC is started, MonitorControl is always at 0"
Hello,
Please help, how to set MonitorControl to volume level ?
After the PC is started, MonitorControl is always at 0

Thanks

PS: EFI/CLOVER/drivers64UEFI - is OK

[2018-08-09 00:29] ycanales opened #45 "Image freezes with Dell P2715Q"
I've been using ddcctl to set the brightness of my Dell P2715Q screen from the terminal without problems. However when trying to, for instance, get the brightness value without setting it, the screen freezes (keeps the last image frozen).

The same freezing happens when opening your app (1.3.0)

[2018-08-16 02:51] carlosfilhoadm opened #46 "MonitorControl keeps asking for granting of Accessibility Features when it's launched"
Current version (1.3.0) asks for granting of Accessibility Features every single time it's launched.

But the app just works fine, and the native keys for brightness and volume in Apple's wireless keyboard also just work fine with the app, so I don't see why it keeps demanding that.

Is there another way to stop these warnings?

[2018-08-17 19:04] vogtmh commented on #41
You could simply use an app like [Vanilla](https://matthewpalmer.net/vanilla/) to hide all unnessary icons ;-)

[2018-08-17 19:10] vogtmh commented on #45
I'm having the problem that sometimes the polling for the brightness value just goes crazy, sends too many DDC requests and causes my LG 34UM94C-P.AEU to go into sleep mode. The same happens, if I send too many volume up / down requests in a short period.

[2018-08-17 19:29] vogtmh opened #47 "Anyone interested in joining forces and fixing the problems together?"
Hi there,

I found this wonderful tool two weeks ago and it solved the one problem for me that Apple couldn't address: controlling my screens volume over HDMI.

But it has some flaws that are already documented in the issues and it doesn't seem to get updated for some months now. What do you think of fixing those bugs and if everything's alright adding the app to the Appstore for free, so everyone

[2018-08-18 16:41] carlosfilhoadm commented on #47
This looks really slick and functional.

Is there a release of this version somewhere for downloading?

[2018-08-18 17:14] vogtmh commented on #47
I've forked the original version and added my "hacked" files to it: https://github.com/vogtmh/MonitorControl.OSX

[2018-08-19 18:48] kocinko commented on #47
Thank you very much. I have resolved to make the Mojave Volume setting permanent.

[2018-08-20 21:35] Erik262 commented on #41
Thanks!

[2018-08-20 21:35] #41 closed

[2018-09-03 12:29] renox92 opened #48 "Listening for volume doesn't work with non monitor output"
If I have "listen for volume" activated I can't use media keys to adjust volume of laptop's internal speakers or wireless headphones. I can still use default macos volume slider to do that. Would be great if for audio the app could check which output device is selected and then decide whether to override volume commands or not.

[2018-09-12 07:39] vogtmh commented on #47
I have used a former version of MonitorControl which didn't include any key controls. The repo from the0neyouseek includes no third party dependencies and I didn't want to mess around too much with it. Maybe I'll do a new version in the next weeks as I really miss the controls, too ;-)

[2018-09-12 18:49] vogtmh commented on #47
So I downloaded the repo and did all the steps described in the Readme. First, I had to remove the code signing identities, now it cannot use MASPreferences.. might take a while to figure out the problem. That's why avoided this repo in the first place :-/

[2018-09-15 15:01] vogtmh commented on #47
Find my new simplified version here: https://github.com/mavodev-de/ScreenVolume2

I even managed to get CPU usage down to nearly 0 % by turning of the continuous polling.

[2018-09-15 15:01] #47 closed

[2018-09-15 15:07] vogtmh commented on #37
In case you just need a volume control, you might try out my new version. I've removed all the polling that let to the high cpu usage and haven't noticed any major drawbacks yet.

https://github.com/mavodev-de/ScreenVolume2

However, I don't do a pull request as I'm no real developer and don't wanna mess up the original code. So I thought a fork with another name might be a better solution.

[2018-09-15 15:09] vogtmh commented on #40
I experienced the same issue. I'm pretty sure it's related to too much polling over the DDC, so the monitor just shuts down the input. I removed it in my version, which also reduced cpu usage to nearly 0%

Try it out, maybe it helps you as well :-)

https://github.com/mavodev-de/ScreenVolume2

[2018-09-15 15:12] vogtmh commented on #44
I've experienced the same issue. I guess it's because MonitorControl doesn't read the values on startup. However, it was just a display bug for me, sound worked fine (no muting). Pressing Volume Up / Down got the correct value displayed for me.

[2018-09-15 18:02] vogtmh commented on #46
I had the same hickup when first installing MonitorControl and solved it:

1. go into Settings --> Security --> Privacy --> Accessibility
2. Remove MonitorControl from there (click on it and use the Minus Symbol, NOT deselect)
3. Restart your Mac
4. Start MonitorControl and confirm the use of accessibility
5. Restart again (just to be sure)

Now everything should be fine :-)

[2018-09-15 23:34] methodbox commented on #40
Strangely after switching back to High Sierra after trying out Mojave, this works fine, but I will check it out @vogtmh - thanks!

[2018-09-25 03:17] drewcotten opened #49 "App does not work with multiple identical monitors"
Unexpected behavior w/ 2 identical BenQ BL3201PH monitors connected via DisplayPort on a GTX 980ti, running 10.13.6. App is only able to control DDC on one of the two monitors. When  the working monitor is the primary "Mac" monitor as chose in Display Preferences in the Arrangement tab.

Disabling the primary monitor in MonitorControl settings does not fix this issue. When I disable the "main" wor

[2018-09-25 17:06] KrissHeo commented on #49
I have same issue. two identical monitor (alphascan 5K27), connected to rx480(egpu)

[2018-09-25 17:16] drewcotten commented on #49
It appears most DDC control apps on Github have this same issue. It must be a root setting in ddctl (which all Mac apps that control via DDC use as far as I can tell) that is causing the issue - https://github.com/kfix/ddcctl

[2018-09-25 18:49] vogtmh commented on #47
I might do that, but to be honest: I'm not a real developer (yet!) :-)

Removing / changing code is something completely different than write some new on your own. I just adapted the tool to my needs and fixes some really annoying problems.

All the minor stuff will be done one by one once I find the time and passion. However, I just updated the app to run fine on Mojave, so you might have a look

[2018-09-30 17:51] 20015jjw opened #50 "Mouse cursor stutters as soon as the app is launched"
I downloaded the latest version of the MonitorControl from the release section. As soon as I start the app, the cursor becomes very unresponsive. The app works (at least the brightness does), and the rest of the system is fine, as the youtube video I'm watching doesn't show any signs of lagging or stuttering.
I might do some digging on my own into this issue, but if you can find out why, it would

[2018-10-15 19:44] gxfxyz commented on #23
Hi @the0neyouseek, the latest release v1.3.0 still overrides F1 and F2. Would really appreciate a new release with the fix #29. Thank you.

[2018-10-22 17:59] zhongziyun1993 opened #51 "Multiple monitor issue"
When you connect multiple monitors that in the same model, it would just recognize one of them.

[2018-10-23 15:38] Passluo opened #52 "Allow users to save current brightness & contrast as a scene, and quickly switch between scenes."
For example, I'd like set my monitor to 70% brightness & 70% contrast in daytime. And at late night, when my families turn off all lights, I will switch to 30% brightness & 50% contrast.
Users might frequently change settings with some certain scenes.

[2018-10-23 21:18] mrgooge opened #53 "Start at Login : MonitorControlHelper keeps crashing"
Every 10 seconds I get the following in my system log after selecting any option MonitorControl Preferences Keys Listen for  example below:

Oct 23 14:09:35 xxxxxx com.apple.xpc.launchd[1] (me.guillaumeb.MonitorControlHelper[2055]): Service exited with abnormal code: 1
Oct 23 14:09:35 xxxxxx com.apple.xpc.launchd[1] (me.guillaumeb.MonitorControlHelper): Service only ran for 0 seconds. Pushing resp

[2018-10-24 01:12] mrgooge commented on #53
Actually, I reported this wrong... It's not the Preferences/ Keys/ selections that cause the constant Mac system messages..It's when you've selected, Preferences/ General/ Start MonitorControl at Login option. Then the endless respawn messages begin, once I unchecked this, the Mac system log stopped the messages.

[2018-11-03 16:04] maojinbing opened #54 "Dell P2415Q Volume Control Support"
DELL P2415Q DisplayPort  Audio  ？

[2018-11-12 17:35] koriwi commented on #50
Same for me.
(I have a hackintosh laptop with real HDMI and two thunderbolt 3 ports)
When i use a USB-C to HDMI cable i get the stutters.
When i use the real HDMI port it works fine.
Tested this with a MacbookPro 2017 over USB-C and have the same stuttery mess.

[2018-11-20 02:15] EvilSquirrel opened #55 "Not working with ASUS ROG PG384Q"
The app doesn't seem to work with my PG384Q, has anyone else has success with it? The volume popup shows up but there is no effect whatsoever on the output volume. I don't think it's the monitor itself; volume control works properly from the keyboard using Windows.

[2018-11-21 14:23] aeon3 opened #56 "Do I have the right version?"
Hey,

I just downloaded what it seems to be v1.3.0 but the icon at the menu bar is different from the screenshot in the master branch. I also cannot see those complex keyboard shortcuts next to the "brightness" slider.

Can anyone enlighten me as to what could be going on?

[2018-12-04 09:14] TheAmenRa commented on #50
Same. Macbook Pro 2018 15 -> USB-C dongle -> HDMI.
It is also doesn't working. I have an LG 34UM95.

[2018-12-06 20:02] stephenreay commented on #54
I'm seeing what I assume is the same issue. A Dell P2415Q with speakers plugged into the headphone jack, the volume control doesn't affect output volume.

[2018-12-15 11:44] inseltiger opened #57 "No sound control with Lenovo P-27h-10"
Although I can control display brightness with the function keys, this does not work for volume control.

The program will detect my input from the keyboard, but not make any changes to the sound output.

Also I would like to change the brightness of all displays (internal + external) together.

Does anyone know the, what the cause of all this is? Apart from this the app is great! Could I make som

[2018-12-22 00:36] tbird2 opened #58 "Not working with 2018 Mac mini + Sony X720E via HDMI"
Macs typically cannot control the brightness or volume of an external monitor connected via HDMI. But, that's what I want. It's not clear to me if MonitorControl is supposed to do this or not.

I don't expect MonitorControl to actually control the monitor's brightness or volume settings. I know that's impossible (until some day that HDMI-CEC works). What should be possible today and what I would l

[2018-12-27 11:19] womeimingzi11 commented on #40
Same situation for me. But it will go to work after 3-5 minutes when may MacBook Pro 15' 2015 wake from sleeping, during this period, the brightness will go to highest, even the ddcctl command doesn't work. My OS is Mojave 10.13.3

[2019-01-03 02:50] stephenreay commented on #54
No, apprently those displays don’t support volume control.

[2019-01-06 20:20] MHX792 commented on #50
Any fix incoming?

[2019-01-08 18:39] JoniVR commented on #48
I don't think this is very actively maintained, but I've implemented this on my fork:
https://github.com/JoniVR/MonitorControl

[2019-01-08 22:11] MHX792 commented on #50
I found a way to reproduce the sluggishness. I use two monitors. When both monitors are turned on and I launch Monitor Control the sluggishness goes away after a few seconds. If, however, one monitor is turned off (but still connected) the sluggishness persists.

I suppose MonitorControl the sluggishness occurs when MonitorControl tries to identify the connected monitors. If a monitor is only turn

[2019-01-10 18:51] wmertens commented on #23
@the0neyouseek 	I'm trying to build master to have this fix, but I can't figure out how to get around the code signing :-( could you please make a build for this? Many thanks ❤️

[2019-01-10 20:30] the0neyouseek commented on #50
Hi everyone, thanks for the report and sorry for the delay responding. I'll have a look at fixing this bug this week-end.

[2019-01-10 20:34] the0neyouseek commented on #48
Hi. Sorry I haven't been able to maintain this as much as I wanted to with work getting in the way.

Anyway, I was planning on adding support for this but if @JoniVR got it working, maybe you can make a pull request ?

I'll work on this project this week-end and probably publish a new version.

[2019-01-10 20:38] the0neyouseek commented on #27
Hi, first of all sorry for the late response.
I'll try to work on this feature this week-end.

[2019-01-10 20:41] JoniVR commented on #48
I can do a separate PR for that if you want to, however, there were some compiling errors that require updates to those third party frameworks (was either MediaKeyTap or MASPreferences).

Anyways, I implemented it on my fork by using the `AMCoreAudio` framework, if you can update the dependencies some time soonish I'll do a PR and implement this feature for you. Also, don't update the ddcctl depen

[2019-01-10 20:41] the0neyouseek commented on #56
Hi @aeon3 & @MHX792

Yes you do have the right version, the screenshot on the readme is out of date. You can't see the keyboard shortcut next to the sliders because they doesn't exist anymore.

In this version you can control brightness/volume (⚠️ if your monitor is compatible) with your native mac keyboard keys or function keys.

[2019-01-10 20:41] #56 closed

[2019-01-10 20:48] the0neyouseek commented on #54
Hi everyone,

This app use this lib : [@kfix/ddcctl](https://github.com/kfix/ddcctl) to control brightness/volume.

As @stephenreay said, your monitor may only allow certain command to be used but not others, in this case there's nothing more to do sorry.

[2019-01-10 20:48] #54 closed

[2019-01-10 20:51] JoniVR commented on #48
Also, now that I have your attention, my guess is that #37 is related to #21, in commit 9f4e5fb an (in my opinion) unnecessary loop was introduced which slows the program down a lot (especially since ddcctl internally loops over that part of the code 10 times already), I managed to speed everything up and make it stable in my fork by simply removing that loop. The application was pretty unusable f

[2019-01-10 20:56] the0neyouseek commented on #48
Hi @JoniVR and thanks for all the great work and infos.

Yeah I'm pretty sure that's where the problem's coming from too. I thought being in a background thread it wouldn't be that bad when I merged it but I'll reverse it this week-end.

[2019-01-10 20:58] JoniVR commented on #48
Yeah, or if you could just update those peer dependencies (except for ddcctl) you forked (MAS and MediaKeyTap), that would be fine by me too, I'll do a PR with some other stuff I improved on my fork including an updated README with more screenshots (if you're up for that). It will probably also be for the weekend or afterwards as I'm currently studying for exams.

[2019-01-10 21:01] the0neyouseek commented on #48
I'll do just that then, thanks @JoniVR . I'll be waiting for your PR then.

Good luck with your exams 💪

[2019-01-10 21:03] JoniVR commented on #48
Thanks! I've written it down but please do remind me if I haven't submitted a PR by the end of next week because I might forget 😄.

[2019-01-10 21:08] the0neyouseek commented on #58
Hi @tbird2 and sorry for the slow response.

Firstly, controlling the brightness and volume of external (non-apple/lg ultrafine) monitor is exactly what this app was made for.

Secondly, this is not achieved by using hdmi-cec but this lib : [@kfix/ddcctl](https://github.com/kfix/ddcctl). It uses a feature/standard called display data channel. But, sadly, this standard is poorly supported/implement

[2019-01-10 21:08] #58 closed

[2019-01-10 21:13] the0neyouseek commented on #57
Hi @inseltiger and sorry for the delay responding.

For your first question, this app uses a library ([@kfix/ddcctl](https://github.com/kfix/ddcctl)) to control the monitor and the standard used isn't well supported by all manufacturers so you monitor may not support volume control.

Secondly, being able to change both internal and external brightness/volume together is a feature I plan to work on

[2019-01-10 21:13] #57 closed

[2019-01-10 21:19] the0neyouseek commented on #46
Hi @carlosfilhoadm sorry for the delay responding.

Accessibility features are required for the app to be able to listen to key input all the time.

Even though, the app should only be prompting you once to enable this, I'll fix this soon.

[2019-01-10 21:22] the0neyouseek commented on #55
Hi @EvilSquirrel sorry for the delay responding.

Did you successfully made it work ?

If not, the app uses this lib [@kfix/ddcctl](https://github.com/kfix/ddcctl) control the monitor. As ddc/ci is a standard poorly implemented by many manufacturer your monitor may simply not be compatible with volume control.

[2019-01-10 21:22] #55 closed

[2019-01-23 17:19] meow2 opened #60 "Fn key is not working even on ver 1.3.0"
Hi, @the0neyouseek , thank you very much for developing this app! I'm a big fun of it.

Currently, I can't use (fn + F1) or (fn + F2) to adjust brightness (also to adjust sound with F10-12). As other users have reported, F1, F2, F10, F11, and F12 are overwritten as though I checked "Use F1, F2, etc. keys as standard function keys" in Keyboad, System Preferences.

I'm using MacBook Pro Mid 2014 wit

[2019-02-11 13:07] mamiksik commented on #43
Hi, the problem disappeared. I do not know how or why but it is working correctly now.

[2019-02-11 13:07] #43 closed

[2019-02-15 11:43] markovicdenis commented on #53
Same here, crashes after sleep/wake on multi monitor setup. I even used sleep watcher to kill it before sleep and start after wake, but 1 in 10 times it still crashes (detects only one monitor)..

[2019-02-18 20:32] davidmurr opened #61 "Audio control doesn't alter volume with Dell U3415W"
The brightness control (both via keyboard and menu) functions as expected, but the adjusting the audio control, either via keyboard or menu, does not actually alter the volume level output by the monitor. Is this monitor not supported by the library that Monitor Control uses?

MacBook Pro 13" mid-2014
macOS 10.14.2
Dell U3415W connected via DisplayPort

[2019-02-22 01:59] changloong commented on #61
Dell U3219Q also not work

[2019-02-24 07:32] emdPL commented on #61
Same here :( Dell P2715Q.
macOS 10.14.3

btw. Keep going. Great simple app!

[2019-02-24 07:40] emdPL commented on #61
AMCoreAudio lib issue.
AMCoreAudio Demo App -> Inspect Device: Display Port -> Output: Channel 1 / 2 volume: N/A :(

[2019-02-25 14:58] mathieupost commented on #61
Same here.
Dell U3415W over HDMI on macOS 10.14.3

[2019-03-01 16:09] kylemhall commented on #35
I'd also love to see small increments for volume control. I would be nice to be able to specify the increment size in the app preferences. Thanks for the awesome app!

[2019-03-09 16:07] sovon commented on #40
@the0neyouseek I've tested and tried everything that's out there and this is the only option that actually works. Thanks for making this tiny but very useful utility.

However if you have time, please take a look into the issue where the touchbar buttons don't work right after boot or right after waking from sleep. It has to get 2-3 minutes of time to start responding. I'm seeing this on Mojave on

[2019-03-09 16:25] sovon commented on #40
Also, might I suggest adding a basic equalizer for the sound of the monitor only (not in build laptop speaker). Because most of the times the sound of the monitor is horrible out of the box; at lease it is the case for me.

Having an option to do so would certainly help. Besides there is not even a single app out there to do so.

[2019-03-18 08:25] mlauria93 commented on #61
Same problem, but even the brightness FKs are not working.
MacBook Pro 2017
LG 32UD99-W connected via Type C

[2019-03-18 08:29] mlauria93 commented on #60
Same bug here Function keys aren’t working at all nor the volume neither the brightness: I am using an LG 32UD99-W connected via Type-C to a MBP(2017)

[2019-03-19 15:51] AAtte opened #62 "When I open the app, it takes few minutes for Magic Keyboard commands to work"
When I open the app, it takes few minutes for Apple Keyboard commands to work properly.

When I open the app, no keyboard commands work at all. After a short moment keyboard commands work, if I hold the buttons down. After few minutes, also tapping the brightness controls work like it should. It works all the time if I change the brightness with mouse using the brightness selector.

What could fix

[2019-03-25 19:19] Fourthbus commented on #61
same here,
Macbook Pro 2017
Dell P2415Q

[2019-03-26 05:11] linrunwei commented on #62
Same issue here. Display responds to Apple Magic Keyboard 2 input several minutes after launching the app.
My display is Dell U2417H.

[2019-04-01 10:04] Jimmisama opened #63 "Any plan to add support for new Acer monitors?"
They have an app in Windows https://www.acer.com/ac/en/US/content/acer-display-widget  that can do that in windows

[2019-04-06 15:12] kostya-666 commented on #23
@the0neyouseek this was merged in master one year ago. Please make new build with it to celebrate ))

[2019-04-07 15:21] ibeescus commented on #62
Similar issue here (Mojave 10.14.4/Apple Magic Keyboard 2/ASUS PB278 display/MonitorControl 1.3.0):
The brightness gets stuck after a while. The brightness keys become useless and I have to move the menu slider to wake up the app.
Previously, MonitorControl was working great on MacOS High Sierra.

[2019-04-09 19:02] ibeescus commented on #62
The bluetooth debug/reset seems to help a bit:
https://perfectfitcomputers.ca/wireless-magic-keyboard-special-function-buttons-not-working/

[2019-04-11 16:42] kostya-666 commented on #23
https://github.com/JoniVR/MonitorControl/releases/tag/1.3.1 fork build includes fix and works for me

[2019-04-11 16:43] kostya-666 commented on #60
https://github.com/JoniVR/MonitorControl/releases/tag/1.3.1 fork build includes fix and works for me

[2019-04-22 14:26] joeyhoer commented on #31
I'm not sure, but it seems to me that the brightness and contrast of the native Mac display scale together. To me, it seems that there is a minimum and maximum threshold for contrast (perhaps also brightness), and as the function keys are pressed, the values both change at the same time.

I'm going to simplify for explanation purposes, but suppose that the minimum contrast is set to 25%, and the m

[2019-04-22 14:35] joeyhoer commented on #26
I also believe that Apple is scaling both values (brightness and contrast) at the same time. At the very least, when using an external monitor, I must change both values to achieve a similar "brightness" as the native display on my MBP.

I believe defining a contrast range, and then interpolating along that range, may more closely mimic the "brightness" of the native display. I've described this f

[2019-04-22 14:41] joeyhoer commented on #22
@waydabber The idea of manually defining values for each step is a really interesting concept, though I think you're right, it would require a more complicated ("advanced") preference panel. I imagine that an option to scale brightness and contrast together, within a defined range (for contrast, or possibly for both brightness and contrast) would more effectively adjust the perceived "brightness".

[2019-04-24 00:26] aloysiu3 opened #64 "Completely crashes monitor after starting the app"
When starting the app my monitor turns black after a couple of seconds. I cant even turn it off via its hardware button in this state. When closing MonitorControl the screen turns on again and everything is fine.
For debugging I have turned off DDC/CI in my monitors osd settings and even then the bug above appeared.

Monitor: BenQ GW2780

btw by using just https://github.com/kfix/ddcctl I can cont

[2019-05-04 17:27] mauritsvdvijgh opened #65 "Completely crashes display output after starting the app"
Starting the app leaves my Macbook Pro 11,4 without any video output on the external monitor and the internal display. The only way to recover from this seems to be forcing the computer to shutdown and starting the computer again. The internal display is also broken after unplugging the external monitor.

Using https://github.com/kfix/ddcctl I can control the monitor brightness/volume without prob

[2019-05-04 17:47] mauritsvdvijgh commented on #65
I see, ddcctl works for setting the brightness but reading the brightness crashes the display:

[code]
crashes bot displays (internal and external)

while:

[code]

Works fine

[2019-05-04 17:47] #65 closed

[2019-05-05 12:06] #64 closed

[2019-05-05 12:06] aloysiu3 commented on #64
fixed in 1.4.0

[2019-05-07 20:57] JoniVR commented on #37
Hi @brechtm,
Is this still an issue for you?

[2019-05-07 21:03] benjaminburkhardt opened #68 "Does not support HP Z24nf"
I'm currently using the old BrightnessMenulet  (https://github.com/superduper/BrightnessMenulet) which perfectly supports both of my screens in parallel. *HP Z24nf* and *Samsung U24E590*

This tool does only work with my Samsung monitor and does not show up the HP screen...

[2019-05-07 21:42] reitermarkus commented on #60
This should be fixed now.

[2019-05-07 21:42] #60 closed

[2019-05-07 21:43] reitermarkus commented on #48
This should be fixed now.

[2019-05-07 21:43] #48 closed

[2019-05-07 21:45] brechtm commented on #37
Thanks for the heads up, @JoniVR!

Unfortunately, this is still an issue. I just tested with MonitorControl v1.5.0. After startup, MonitorControl's CPU usage settles to around 2% and mouse pointer movement is jittery. After a while, CPU usage drops to 0% and pointer movement is smooth again. On closing and restarting MonitorControl, the same thing happens (pointer movement is jittery again initial

[2019-05-07 21:51] JoniVR commented on #37
I'm noticing the same, I think I fixed it in a previous version by removing how many times we try to poll the display but it must have slipped back in. I have also noticed some of your other issues you mentioned. I'll try fixing some of these soon. Thanks for the info 👍

[2019-05-07 22:29] #42 closed

[2019-05-07 22:35] reitermarkus commented on #53
This is probably fixed now.

[2019-05-07 22:35] #53 closed

[2019-05-07 22:39] reitermarkus commented on #37
Yes, I reverted the longer delay fix and added a whitelist for displays which need it, so the Samsung SyncMaster 226BW will have to be added to the whitelist probably.

[2019-05-07 22:48] gxfxyz opened #71 "v1.5.0 can't detect LG 34UM95-P Ultrawide monitor"
Hello,

Firstly thank you for your good work. I've been waiting for a new release for a while.

I just upgraded MonitorControl to the latest v1.5.0 version. But I found it can't detect my LG [34UM95-P](https://www.lg.com/global/business/monitor/monitor-products/lg-34UM95-P) Ultrawide monitor in this version.

![Screen Shot 2019-05-07 at 14 58 10](https://user-images.githubusercontent.com/43481676/

[2019-05-07 23:37] JoniVR commented on #37
@reitermarkus Was this related to the `minReplyDelay`? Because I seem to remember having the discussion on the ddcctl repo that this might be different based on which GPU vendor you have instead of the monitors (if I understood correctly), so intel integrated graphics would require a longer delay. It would make things a lot easier if that were the case as we wouldn't have to whitelist a large amou

[2019-05-08 00:43] reitermarkus commented on #37
Yes, exactly.

What GPU do you have?

[2019-05-08 00:44] reitermarkus commented on #23
Should be fixed in the latest release.

[2019-05-08 00:44] #23 closed

[2019-05-08 00:54] reitermarkus commented on #63
Theoretically any display with DDC will work. If it doesn't, you'll have to dig into the code yourself since it's impossible for someone else to figure out without having the same monitor.

[2019-05-08 00:54] #63 closed

[2019-05-08 00:56] reitermarkus commented on #68
Theoretically any display with DDC will work. If it doesn't, you'll have to dig into the code yourself since it's impossible for someone else to figure out without having the same monitor.

This may be related to https://github.com/the0neyouseek/MonitorControl/issues/71 though, so maybe fixing the other issue will make your monitor show up too.

[2019-05-08 00:56] #68 closed

[2019-05-08 00:57] reitermarkus commented on #68
Have you tried if it shows up with version 1.4.0?

[2019-05-08 07:05] #15 closed

[2019-05-08 08:09] brechtm commented on #37
I have a MacBook Pro (Retina, 15-inch, Mid 2014) with integrated graphics (Intel Iris 5200 Pro).

You could also provide an option in the preferences window to toggle the whitelist manually.

[2019-05-08 08:18] JoniVR commented on #37
Intel Integrated Graphics (Iris 1536 MB) - MacBook Pro (Retina, 13-inch, Late 2013)

Could be a good idea..

I'm not sure if I like having to whitelist every single monitor manually. A lot of users won't know how to do it themselves so that would probably bring us lots of issues and manual adding. I'm just hoping it depends on GPU Vendor rather than the display itself, but a preferences toggle wou

[2019-05-08 08:25] JoniVR commented on #62
Are you sure this is related to the Magic Keyboard? Have you tried testing this with either the default macbook keyboard or a different keyboard? Because there is currently an issue where the app is unresponsive at start for specific displays that we are working on.

Also, are you getting the volume/brightness HUD and not working? Or is it just showing nothing?

[2019-05-08 08:31] JoniVR commented on #61
This is not the problem, `AMCoreAudio` is only used to detect a difference between system sound and monitor sound being the default and then allowing you to set the correct one automatically.

It all depends on how well your monitor supports the [DDC](https://en.wikipedia.org/wiki/Display_Data_Channel) standard. [[more info]](https://glenwing.github.io/docs/VESA-EDDC-1.2.pdf)

[2019-05-08 09:18] JoniVR commented on #37
@brechtm You could try using v1.4.0 to see if that solves your issue for now meanwhile.

[2019-05-08 10:46] JoniVR opened #76 "agvtool in "Sync Version Numbers" Run Script is making it impossible to build"
I'm not sure if I'm the only one or not, but I'm unable to build.
Xcode will not throw an error or anything, the build will simply be "cancelled"

![image](https://user-images.githubusercontent.com/7591717/57369780-c4a5b680-718e-11e9-877e-2d24df786ec1.png)

I found this [stackoverflow question](https://stackoverflow.com/questions/16869159/archive-in-xcode-4-5-no-errors-but-build-cancelled) related

[2019-05-08 10:47] the0neyouseek commented on #76
Had to do the same thing to build

[2019-05-08 11:28] JoniVR commented on #37
Ok so I just tested whitelisting my LG 34UC88-B (also ultrawide), modelnumber 30436 and it froze my system completely by using a longer delay, so it's not the longer delay/whitelisting that will fix it.

I think the high cpu issue/app responsiveness issues are due to trying to poll the display 100 times at initial start to try and read the values. This is also exactly what fixed the unresponsivene

[2019-05-08 11:36] JoniVR commented on #50
Possibly related to #37

[2019-05-08 16:19] reitermarkus commented on #76
Yes, I think it's because Xcode will reload the project when it is changed by `avgtool`.

Are you sure it is the Sync Version Numbers script and not the Increase Build Number script?

[2019-05-08 17:26] JoniVR commented on #76
After some more testing, seems like it's either one of the scripts.
If I remove either "Increase Build Number" or "Sync Version Numbers", clean and then build it will fail at first attempt, but if I build a second time after that it will succeed.

[2019-05-08 17:45] reitermarkus commented on #37
That's because I changed the style to more closely reflect the native volume menu. Maybe we should just not show the display name at all when there is only one monitor in the menu?

[2019-05-08 17:54] reitermarkus commented on #37
@JoniVR, if you change `tries` to `1`, does it succeed though?

[2019-05-08 18:13] JoniVR commented on #37
Hmmm now that you say it it makes sense. Had me confused though.

I like it better this way, right now it indicates that it detects the screen.

I think what I meant by it being greyed out was that it was disabled (probably while it's polling)

![image](https://user-images.githubusercontent.com/7591717/57397293-a2328e00-71cc-11e9-9c08-9b330991c447.png)
So everytime I launch the app the sliders are

[2019-05-08 18:24] #76 closed

[2019-05-08 19:00] JoniVR commented on #5
I think an auto-update feature would be awesome!
I can look into implementing this if you want.

I'd suggest the following things to be in there:
* Automatically look for updates on app launch
* Add a button "Check for updates..." to the menulet
* Add a setting to enable/disable checking for updates on launch

Is there a specific CI service you'd prefer?
I'm personally only experienced with Travis

[2019-05-08 19:06] the0neyouseek commented on #5
@JoniVR Hi,
I've used CircleCI which works great with macOS/iOS but anything is fine for me (We could also add a bagde to the readme)

For automatic updates I've found this :
- https://github.com/macmade/GitHubUpdates
- https://github.com/sparkle-project/Sparkle

[2019-05-08 19:17] JoniVR commented on #5
CircleCI seems to be the more populair choice these days yes. I'm fine with that.

Yup, would be useful.

I wasn't aware of GitHubUpdates before, I've seen Sparkle before. I think Sparkle is generally more used and more supported, however, it looks like GitHubUpdates seems a lot easier to implement. So I'm not sure, I found a [nice article](https://yiqiu.me/2015/11/19/sparkle-update-on-github/) on

[2019-05-08 19:29] the0neyouseek commented on #5
I also think that Sparkle is the safe bet here as GithubUpdates doesn't seem maintained 👍

[2019-05-08 19:56] reitermarkus commented on #37
What works instantly? The sliders being available? What I mean is: Does it actually read the value from the display correctly with only 1 try?  Or does it only restore it from preferences?

[2019-05-08 20:39] JoniVR commented on #37
I should've stated this more clearly, my bad - it never succeeds at reading (through ddc). Doesn't matter if it tries once, 100 or 1000 times.

Here are 2 comparison videos, one with 1 try, another with 100 tries. I had to upload to youtube because of Github upload restrictions.

* [polling - 1 try](https://youtu.be/Mzd1Gn2pb5A)

* [polling - 100 tries](https://youtu.be/_Kv6sa0KQzY)

[2019-05-08 21:48] reitermarkus commented on #37
I added some logging to `DDC.swift`. Usually I only need 4 tries on average to actually read a value, but occasionally it spikes to > 200 tries.

Did it ever work (i.e. with `ddcctl`)?

[2019-05-08 21:58] JoniVR commented on #37
Not as far as I can remember. It never really worked for me. Changing volume, brightness,... always works fine but reading values hasn't ever really worked properly.

I think the 100 tries probably only affect lower end systems, must be too taxing to send 100 requests to the kernel or something (and I'm guessing by all the issues that I'm not alone), it might work for higher end systems but I don'

[2019-05-08 22:16] reitermarkus commented on #37
I actually tried this in a loop, but in reality, the first `read` call always needs more tries it seems.

Reading the brightness always needs about 150 tries, but reading the volume right afterwards usually only needs a single try.

[2019-05-08 22:24] JoniVR commented on #37
So what we could do is add it as a configurable option in settings, we could even make an "advanced" tab for stuff like this.

Either just allowing the user to set a specified amount in a textfield or providing a dropdown with "polling modes" (for example: none, minimal (5 tries), normal (10 tries), heavy (100 tries), aggressive (200 tries))?

[2019-05-08 22:25] JoniVR commented on #37
@the0neyouseek What's your opinion on this?

[2019-05-08 22:41] the0neyouseek commented on #37
I like the idea of having an advanced tab in the settings because it may require tweaking for different display.

I know that I don't have this problem at all on mine (Asus PB278QR) and values read correctly everytime.

Maybe we could use the system of whitelisted display to have default settings values for the ones we already know works.

Something like adding `case specificPollingMode: PollingMo

[2019-05-08 22:48] reitermarkus commented on #37
What's weird is that I have just tried adding a test for `DDC.swift`, which succeeds 100 % of the time with 1 try.

[2019-05-09 09:25] reitermarkus opened #82 "Monitor/GPU/Connection Combinations"
This is a collection of combinations which are known to work. Please comment below with your information so that we can hopefully find a pattern for when a longer delay is needed.

| GPU                                 | Display              | Connection | `minReplyDelay`                  |
|-------------------------|----------------|-------------|---------------------------|
| AMD Vega 64

[2019-05-09 14:40] brechtm commented on #37
Could this indicate a bug in MonitorControl's polling? I already found it suspicious that you would need so many tries. Or is DDC that unreliable?

[2019-05-09 15:08] reitermarkus commented on #37
Well, I fixed a race condition in `DDC.swift`, for me (with the longer 20ms delay) it is 100% reliable now.

[2019-05-09 15:12] JoniVR commented on #37
100% reliable on first try? That's amazing to hear! I'll try playing around with different delays on my setup soon and try to report to [#82](https://github.com/the0neyouseek/MonitorControl/issues/82) will probably be for tomorrow though.

[2019-05-09 17:39] ammmze opened #84 "[Feature Request] Sound effect when changing volume level"
First and foremost ... Thanks for this awesome app!

This is totally a nice to have feature, but any chance we'll see the ability to get the sound effect when changing volume levels like you get when changing volume levels natively? It's just nice because it gives you a quick indication of how loud the volume actually is via your ear sensors instead of eye sensors :)

[2019-05-09 17:41] the0neyouseek commented on #84
Hi @ammmze,
That's an excellent idea !

[2019-05-09 17:45] JoniVR commented on #82
| GPU                                 | Display              | Connection | `minReplyDelay`                  |
|-------------------------|----------------|-------------|---------------------------|
| Intel Iris 1536 MB |  LG 34UC88-B | DisplayPort | reading doesn't work at all                                  |
| Intel Iris 1536 MB |  LG 34UC88-B | HDMI           | reading doesn't work at all |

<

[2019-05-09 19:51] reitermarkus commented on #82
Interesting that you actually get a response and “only” the checksum doesn't match. It clearly seems to be returning “something” as least.

[2019-05-10 11:21] brechtm commented on #37
v1.4.0 seems much better behaved indeed. There's only mouse pointer stutter for a couple of seconds after starting MonitorControl. Ideally, applications shouldn't cause any pointer stutter at all, of course, but this is already much better.

[2019-05-10 17:20] reitermarkus commented on #71
This is hopefully fixed with the latest commit in `DDC.swift`.

[2019-05-10 17:20] #71 closed

[2019-05-10 17:28] reitermarkus commented on #82
@JoniVR, did anything change with the latest changes to `DDC.swift`?

[2019-05-10 18:00] JoniVR commented on #82
Ok, I ran it again, 100 tries, default `minReplyDelay`, Displayport cable, d803f92

I don't see much difference, ran it 3 times in total to be sure.

Only difference I can make out is it now says `Display does not support DDC` on some lines
[code]
<details>
<summary>Full Log</summary>

[code]

</details>

[2019-05-14 01:10] Jtango18 commented on #51
@zhongziyun1993 What monitors are you using that this is happening to? I use identical Samsung monitors and don't seem to have this problem.

[2019-05-14 15:34] reitermarkus commented on #82
I added some more logging when the checksum fails.

[2019-05-15 02:39] htpcrig commented on #41
It would be nice to have his feature

[2019-05-15 17:53] JoniVR commented on #82
Same as before, on c8ed85f

<details>
<summary>Log</summary>

[code]

</details>

[2019-05-16 06:53] htpcrig opened #92 "UHD Graphics 620 not detected"
Hi
I have Acer Swift 3. the UHD Graphics 620 is not being detected.

[2019-05-16 11:12] JoniVR commented on #92
Hi @htpcrig

So I'm assuming it's a Hackintosh? What display are you using?

Do you know if it supports [DDC](https://en.wikipedia.org/wiki/Display_Data_Channel)?

If DDC is not supported then there is nothing we can do.

[2019-05-16 16:26] carlosfilhoadm opened #93 "After updating to v1.5.0, MonitorControl no longer detects my screen (LG 25UM65, DisplayPort)"
Thank you for continuing to work on the app and releasing an update.

Unfortunately for me, however, after installing v1.5.0 my DisplayPort-connected screen is no longer detected by the app.

It's the same as #71 except my device is a different model (LG 25UM65).

I'll just have to downgrade for now, and wait for v.1.6.0.

[2019-05-16 19:35] #84 closed

[2019-05-16 21:22] gxfxyz commented on #71
Can confirm this has been fixed in v1.5.2. Thank you guys for this great app! 👍

[2019-05-16 21:45] the0neyouseek commented on #93
Hi, Is this fixed for you in v1.5.2 ?

[2019-05-17 05:56] larskochhansen opened #94 "No mute when turning volume all the way down on Samsung C34J79"
I just bought a new Samsung Curved monitor for my MBP2018. The MonitorControl works very nicely but I cannot mute the sound. When I use the hotkeys to turn the volume all the way down it's still play at a low volume. The same when I press the mute button on my keyboard (the icon shows mute).

I'm not sure why this is happening.

[2019-05-17 06:00] the0neyouseek commented on #94
Hi !
What I'm guessing is going on here is that the min value is below the standard "0". Do you have the same problem using the display native OSD ?

[2019-05-17 06:13] larskochhansen commented on #94
No. Only when controlling the volume using the Monitor Control. It mutes fine using the built in monitor control.

Is it possible to change the range of max/min in order the fix this?

Best wishes
Lars
Sendt fra iPhone X

[2019-05-17 08:16] reitermarkus commented on #82
The values at the bottom are the last saved values, so no change here.

You'll have to try messing around with the `DDC.swift` repo yourself, see if you stumble upon anything useful.

[2019-05-17 08:44] reitermarkus commented on #44
It should restore the last saved values now.

[2019-05-17 08:44] #44 closed

[2019-05-17 08:47] reitermarkus commented on #37
@brechtm, can you try with 1.5.2?

[2019-05-17 09:12] JoniVR commented on #82
I know that, I usually uncomment that part and replace it with (0,0) to make debugging easier. I meant the bottom of the log ;)

[code]

I'll playing around with it in somewhere the future to see if there's anything I can find. Thanks for the effort on this.

[2019-05-17 09:32] brechtm commented on #37
1.5.2 seems to work similar to 1.4.0. Just a couple of seconds of high CPU usage / pointer jitter after starting MonitorControl, and the brightness slider can be interacted with after that. :thumbsup:

[2019-05-17 10:26] reitermarkus commented on #82
Yeah, these responses seem pretty random, the only one which comes “close” to a valid response is the first one where we are sending `F1` and it should return `6E 80 BE`, but it returns `6E 81 F1`.

[2019-05-17 10:29] reitermarkus commented on #82
Actually this first one succeeded one time in the first log:

[code]

[2019-05-17 11:42] usr-sse2 opened #95 "When using monitors of the same model, only the first is controlled"
I have two Lenovo monitors, one is connected through HDMI and the second through DisplayPort. Both are shown in MonitorControl, and brightness sliders of both displays change the brightness of HDMI one.

[2019-05-17 11:42] usr-sse2 commented on #95
Model: LEN T2454pA

[2019-05-18 00:09] carlosfilhoadm commented on #93
Thank you for releasing another update so quickly.

The new version detects both my screens again and the sliders work, although only for the primary screen -- same as #95 (both my screens are the same model, and all the sliders for both devices affect only the primary one).

Also, the keyboard keys for setting brightness and volume (along with the on-screen notification) stopped working. The app

[2019-05-18 00:13] carlosfilhoadm commented on #95
I confirm this happens on my setup (two LG 25UM65, both connected through DisplayPort to a Mac Mini running Mojave).

All the sliders for both devices affect only the primary one.

[2019-05-18 00:20] JoniVR commented on #93
Have you tried removing MonitorControl from Accessibility settings and then relaunching the app and adding it again?

Try the following:
1. Close MonitorControl if it's running
2. Remove MonitorControl from Accessibility settings
3. Launch MonitorControl (it will prompt for Accessibility settings)
4. Grant Accessibility Permissions
5. Restart the app

This sometimes happens. Removing and readding

[2019-05-18 00:32] carlosfilhoadm commented on #46
Hi, thank you for responding and sorry for taking so much time to write my own response.

Eventually I just added the app to the list of Accessibility Features in order to stop all the constant prompts.

Currently I use a common PC wireless keyboard (with a USB dongle).

The issue now is that after updating to v1.5.2 the brightness and volume keys (along with the on-screen notifications) stopped w

[2019-05-18 06:24] the0neyouseek commented on #94
cc #96

[2019-05-18 08:51] larskochhansen commented on #94
Thanks for the prompt replies. Looking forward to a solution. I'll close this topic. Thanks again.

[2019-05-18 08:51] #94 closed

[2019-05-18 11:43] JoniVR commented on #37
I'm close to being finished on the advanced tab where the user can set a custom polling mode. I'll also add in the whitelist feature but I think we should override it in case the user sets a custom one. Not all settings might work for all setups. Let's hope that fixes it.

[2019-05-18 21:12] ammmze commented on #84
Wow...that was pretty quick 🙂 can't wait to try it next time I'm at my computer! Thank you

[2019-05-20 18:11] icecreammatt commented on #82
GPU | Display | Connection | minReplyDelay
-- | -- | -- | --
| Intel HD 460| Acer Predator XB271HU | USB-C -> HDMI | no brightness or sound |

I'm not sure if this project is limited to LG displays or not but this was my testing with my Acer Predator :(

[2019-05-21 07:16] MarcoCarnevali opened #98 "Italian language"
Hello! I can translate it to Italian if you need it :)

[2019-05-21 07:33] the0neyouseek commented on #98
Hi @MarcoCarnevali 😄

Please feel free to do that and open a pull request I you're familiar with XCode.
You can use [Bartycrouch](https://github.com/Flinesoft/BartyCrouch) to generate translation files and keep them organized.

There are 3 translations files for each language :

- `MonitorControl/Support/<your-language>.lproj/Localizable.strings`
- `MonitorControl/UI/<your-language>.lproj/Main.str

[2019-05-21 08:09] MarcoCarnevali commented on #98
#1

[2019-05-21 08:09] MarcoCarnevali commented on #98
#italiantranslation

[2019-05-21 11:35] MarcoCarnevali commented on #98
just created the pull request ;)

[2019-05-22 06:01] maarten00 commented on #61
Same issue here on Dell U2719D over DP (using [this adapter](https://www.club-3d.com/en/detail/2350/usb_3.1_type_c_to_displayport_1.2/)) on a MBP 2017
Brightness is working fine.

[2019-05-23 10:42] the0neyouseek commented on #24
Closing, please see #82

[2019-05-23 10:42] #24 closed

[2019-05-23 10:43] the0neyouseek commented on #17
Is this still an issue for you @falcn ?

[2019-05-23 10:46] the0neyouseek commented on #36
Closed, please see #37 for further discussions

[2019-05-23 10:46] #36 closed

[2019-05-23 10:47] the0neyouseek commented on #45
Closed, please see #82 for further infos/discussions

[2019-05-23 10:47] #45 closed

[2019-05-23 10:49] the0neyouseek commented on #49
Hi, is this still an issue with the latest version ?

[2019-05-23 11:01] the0neyouseek commented on #61
Hi everyone,

The app uses [DDC](https://github.com/reitermarkus/DDC.swift) to control your monitor(s) and a lot of them does not implement (well) this standard resulting in the inability to control brightness or volume, or to read the current values of this settings for example.

You can check if your monitor is compatible with [ddcctl](kfix/ddcctl) by verifying if you can control volume/brightne

[2019-05-23 11:02] the0neyouseek commented on #50
Closed, see #37 for further discussions

[2019-05-23 11:02] #50 closed

[2019-05-23 11:03] the0neyouseek commented on #92
Closed, see #61

[2019-05-23 11:03] #92 closed

[2019-05-23 11:04] the0neyouseek commented on #51
Closed, see #49 for further discussions

[2019-05-23 11:04] #51 closed

[2019-05-23 11:04] the0neyouseek commented on #95
Closed, see #49 for further discussions

[2019-05-23 11:04] #95 closed

[2019-05-23 11:05] the0neyouseek commented on #93
Closed, please fill free to comment is this is still a problem for you.

[2019-05-23 11:05] #93 closed

[2019-05-23 11:17] JoniVR commented on #40
I'm pretty sure this is an issue related to #37. High polling in previous versions prevented it from working properly while it's polling (because it tried for 100 times). I had the same issue. Currently it's already changed to polling only 10 times and a feature to manually override polling is being worked on in #97

[2019-05-23 11:17] #40 closed

[2019-05-23 12:04] brechtm commented on #40
Check out [eqMac](https://bitgapp.com/eqmac/).

[2019-05-23 12:11] JoniVR commented on #61
Also, there's a list from another Github repo with some known monitors.
http://www.ddcutil.com/monitor_notes/

[2019-05-23 12:31] sovon commented on #40
I use a bluetooth speaker alongside with my airpods & laptops built-in speaker & monitor's speaker - these gets interchanged frequently based on availability & connection. While on an external monitor connected to a macbook in both normal & clamshell mode. Try using that app you suggested for a week. You'll change your opinion.

I've tried everything that's out there. When it comes to using 'devic

[2019-05-23 12:39] JoniVR commented on #40
I mean you could try opening an issue for it but I personally am against adding this to MonitorControl.

This is something you see in lots of open source projects where people keep requesting more and more features that are not really related to the project, the result is usually a bloated codebase and lots of stuff to maintain. (Nothing personal that’s just my experience with it)

I think it woul

[2019-05-23 12:48] sovon commented on #40
I agree with what you are saying. Having lots of stuff in tiny utilities like this might slow it down even if by a small amount. I've stopped using my monitors speaker altogether at this point.

Anyways, I'd prefer to see the tool itself become faster. The lag b/w wake up/sleep still remains and I notice is every day. There has probably been some updates since my last installation. Hope it gets fi

[2019-05-23 12:56] JoniVR commented on #40
Yes, this is being worked on in a current PR. In `v1.5.2` we reduced the default amount polling tries from 100 tries to 10 tries, which should reduce cpu usage at wake/launch already, but in a future release we'll add the advanced settings panel where you can set custom polling settings or disable polling altogether. I'm pretty sure that should fix the issue, if not then we'll keep looking into it

[2019-05-24 20:40] methodbox commented on #40
Adding an EQ to this project isn’t going to be any different than using what has been suggested.

Ultimately, you’re controlling the output from the source (the Mac) to the output (your monitor).

Whether you use eqMac or its integrated here, you’re not going to see any difference, assuming the same functionality - you’re still EQing the same source and outputting to the same output.

[2019-05-27 14:36] remus-b commented on #35
I was looking for something similar. The increments are too big, and volume changes are harsh.

[2019-06-01 15:38] larskochhansen commented on #35
Me2 🙏

[2019-06-02 08:09] sovon commented on #40
Been testing the 1.5.2 for a week now. It's a lot of improvement. Specially with initial unresponsiveness. it's gone; at least to the extent of my use case of external monitor. Great. 👌

[2019-06-02 18:18] kikiwora opened #100 "Fix F14/F15 keys for native Apple Keyboards (They should not change brightness)"
I have an issue with F14/F15 keys. When this app is launched, F15 decreases brightness and F15 increases brightness, but that is not an action I want them to do.
If I kill MonitorControl, this issue disappears.

By default, macOS uses those keys for non-Apple devices to control display brightness, but I've disabled that already. The issue is with this app itself or one of its dependencies.

It see

[2019-06-02 19:15] kikiwora opened #101 "Add Ukrainian localization"
It would be great to have a Ukrainian localization.
I already translated localization files and wish to give them to you but have no access right to push as for now.

[2019-06-02 22:01] JoniVR commented on #101
You need to open a [Pull Request](https://github.com/the0neyouseek/MonitorControl/pulls) for this.

https://help.github.com/en/articles/about-pull-requests

[2019-06-03 07:28] kikiwora opened #102 "MonitorControl doesn't work with Mac Mini 2018 at all"
I have used this monitor (HP Z22n G2) with my previous mac mini (2012) and it worked just fine via both HDMI and DisplayPort.

However, after updating my mac to 2018 model I'm no longer able to control my display.

Version 1.5.0 didn't detect display at all, version 1.5.2 detects and shows on-screen HUD, but never actually changes brightness or contrast.

So I assume that this is an issue with Mac

[2019-06-03 10:25] kikiwora commented on #101
Thanks. It seems like I should've created a fork in order to push branch there and then create a pull request in your repo.

[2019-06-03 13:43] esetnik commented on #49
I am able to control brightness on multiple monitors in latest version.

[2019-06-03 18:47] the0neyouseek commented on #101
Closed from #103

[2019-06-03 18:47] #101 closed

[2019-06-04 01:53] drewcotten commented on #49
This issue does not relate to multiple monitors - it relates to identical monitors. Unfortunately, in the latest version of monitor control, I still have this issue with my two identical displays. I believe the root problem is with ddcctl and further down the line Apple's APIs. I would recommend anyone having this issue post here https://github.com/kfix/ddcctl/issues/17

[2019-06-04 01:59] esetnik commented on #49
Ok sorry for the lack of helpful feedback on my part. In case it matters I am using dual identical P2715Q monitors without any issue.

[2019-06-04 03:30] drewcotten commented on #49
Not a problem at all. If your dual monitor setup works, it appears the problem is on my end. I will review tomorrow.

[2019-06-04 22:13] the0neyouseek commented on #35
Thanks for waiting everyone, should now work with the latest release ([v1.6.0](https://github.com/the0neyouseek/MonitorControl/releases/tag/v1.6.0)) :tada:

[2019-06-04 22:13] #35 closed

[2019-06-12 05:47] lazyevgen opened #105 "freezed my hackitosh right from the start. Restart required to get back."
Sup. Was trying to play with your app for my dual monitor and my hackintosh. But it's just constantly freezing my mac. Mouse or keyboard... everything is dead. Hope u can fix it. Can send to you any info about soft or gard or any log u might need.

[2019-06-12 20:15] Sico93 commented on #102
I am also using a 2018 Mac mini, using a Dell U3818DW connected by USB-C and am able to change brightness just fine.
Sound works somewhat strange: Mute doesn't work at all while in- or decreasing the volume works fine (until you want to shut sound off completely). So there is alway still some sound left even at the Point where macOS tells me "muted".

[2019-06-12 20:17] geoffmyers commented on #49
I am experiencing the same issue with two Samsung U28E590 monitors both connected via DisplayPort to a Radeon RX 580. The brightness controls only work for one monitor but not the other.

[2019-06-12 21:07] JoshuaOrphir commented on #100
I experience the small annoying behaviour with F14/F15 as well as the eject key. Unfortunately this is a dealbreaker since I have those mapped to another application. +1 for high priority.

[2019-06-13 00:04] leo150 commented on #49
Same for me with two BenQ GW2760HL. It doesn't look like there is any progress on (kfix/ddcctl/issues/17)[https://github.com/kfix/ddcctl/issues/17]

[2019-06-13 05:45] JoniVR commented on #49
ddcctl is no longer used internally. No point to link to that specific issue anymore since it's already been linked multiple times.

We now use [DDC.swift](https://github.com/reitermarkus/DDC.swift). But I think the source code is based on ddcctl so it's probably the same underlying issue.

[2019-06-13 06:43] JoniVR commented on #105
It might help if you could share some specifications and clear explanation of what is happening exactly. Just saying it doesn't work doesn't provide us any useful info at all.

Always provide as much info as you have on an issue right from the start if you want people to try to help you.

You said your system freezes completely? What device, GPU, cable, display, macos version,... are you using?

I

[2019-06-14 10:44] kikiwora commented on #105
I suppose that your Hackintosh is not set up correctly. I have no such issue with my setup, and it was configured as per RehabMan`s guide. It looks like you have a GPU configuration issue, as for me.
Recommend to use **whatevergreen.kext** (Note a setup instruction - as far as I remember, you should avoid any GPU related patches when using this kext, but it works reliably almost for every card).

[2019-06-14 10:50] kikiwora commented on #102
Just in case, I use HP Z22n G2 monitors, one is connected via HDMI directly and one connected via Type-C to HDMI converter cable (good one). Neither of them I can control using this app nor another similar DDC\CI control app for macOS. But all those apps worked fine with 2012 device via same ports and the same cable (HDMI, but DisplayPort instead of Type-C).

And this is really strange - @Sico93 t

[2019-06-15 17:37] waydabber commented on #102
I tested the following options:

- Mac Mini 2018 via HDMI: _**does not work**_
- Mac Mini 2018 via USB-C to HDMI adapter *: **works**
- Mac mini 2018 via USB-Type-C to DisplayPort adapter: **works**
- Mac mini 2018 via USB-Type-C (connected to a USB-C monitor *): **works**
- Mac Mini 2018 + eGPU (Radeon RX 5700) via HDMI: **works**
- Mac Mini 2018 + eGPU (Radeon RX 5700) via DisplayPort: **works**

[2019-06-16 20:15] donluca commented on #82
High Sierra 10.13.6
Mac Pro 4,1 -> 5,1
Radeon HD 5870 1GB

Fujitsu P24W-3 (straight DVI-D)
Brightness & Volume work perfectly out of the box!

Iiyama XB2283HSU, identified as "PLX2283H-DP" (Mini-DP to DVI-D)
Brightness & Volume work perfectly out of the box!

I'll be shortly upgrading graphic card and monitors and will report back with new combinations.

[2019-06-20 11:24] larskochhansen opened #106 "option to set volume increase"
Thanks for the amazing app. I love it.

I have a MBP 2018 and a samsung c79 curved display with built in speakers. The problem is that the volumen at lowest level is rather high. I never use a volume more than "the first or second" dot. When I work in the evening it would be great if one could some have change how the volume intervals increase.

Does it make any sense?
Thanks again,
Best wishes
La

[2019-06-20 11:36] the0neyouseek commented on #106
Hi,

Thanks for the kind words !

You can actually already do that, by using <kbd>shift</kbd> + <kbd>alt</kbd> and your volume keys it should change volume in smaller increments

Tell me if it works for you 😄

[2019-06-20 11:36] #106 closed

[2019-06-22 00:32] iBubelo opened #107 "No mute after update to version 1.6.0"
The MonitorControl 1.5.2 used to work just perfectly on my AOC Q2577W. But since I've updated to 1.6.0 I can't mute the sound. Behavior is similar to #94.
Reverting to 1.5.2 fixed the issue.

[2019-06-22 09:29] JoniVR commented on #107
Could perhaps be that your monitor doesn't support the ddc mute command implemented in #96. Maybe we could work a fallback into the advanced prefs panel but it'll probably for later versions then.

I'll try to provide a test build in the future but I'm currently too swamped with other stuff.

[2019-06-22 16:20] iBubelo commented on #107
Thank you for swift reply! I'll be happy to help with testing.

[2019-06-24 20:15] larskochhansen commented on #106
I works 👍
Still, The option to use the "normal" volume keys to adjust volume would be great. Right now I can only use the "two" last volume dots - higher than that is really loud thus making small adjustments troublesome.

[2019-06-27 11:11] lukasamd commented on #82
Latest stable Mojave on MBP 15 2018 (Radeon 555X)
Iiyama PL2779QQ - can't change brigthness and volume (no device detected).

[2019-06-28 09:40] Voitus opened #108 "Doesn't controll imac in target mode"
Hi,

Great app. Just built hackintosh and I'm using old imac 27 inch 2009 as monitor in target mode via displayport to minidsplayport. App controls other 2 monitors but not imac :-(

[2019-07-02 21:32] JoniVR opened #109 "Unable to build master / auto-bump build number"
I'm unable to build the current master.
I suspect the issue is related to the recent change in both `Info.plist` files. The `$(CURRENT_PROJECT_VERSION)` is mentioned in the error.

[code]

![image](https://user-images.githubusercontent.com/7591717/60548058-77266f80-9d21-11e9-85a9-25659171f9a3.png)

Can anyone confirm this? Or is it just me?
@the0neyouseek 	@reitermarkus

We could really use #5

[2019-07-02 21:45] JoniVR commented on #109
May have found a solution:
https://stackoverflow.com/a/56481486/6863743

[2019-07-09 05:51] stereonom commented on #105
I have the current Macbook Pro (13", 2019) with the Intel Iris Plus 665 running Mac OS 10.14.5.
My monitor is the LG 38UC99-W.

When the monitor is attached via USB-C and I start the app, the mac freezes. No mouse, no keyboard.
Is there any info I can give to you, that might help fix that?

[2019-07-09 06:35] kaydollt commented on #105
Same here.. no Hackintosh

![Screen Shot on 2019-07-09 at 08:35:11](https://user-images.githubusercontent.com/968846/60864649-7e1f1780-a224-11e9-8484-c9b94f0ac9bf.png)

[2019-07-09 15:08] inf0dr0id commented on #105
I have the same problem with a 15" Late 2013 MacBook Pro and a LG 38UC99-W. Immediately after starting the app the whole system freezes, including mouse and keyboard.

![Bildschirmfoto 2019-07-09 um 17 01 57](https://user-images.githubusercontent.com/24397146/60899973-b7c74100-a26b-11e9-81c8-e3ec6f555c96.png)

[2019-07-09 17:50] JoniVR commented on #105
I'm pretty sure this is due to the `.longerDelay` value in the whitelist, because both of these displays are LG 38UC99-W and a longer delay can (and does for me) cause a system lockup.

[code]

I run into the same issue whenever I use `.longerDelay` for my system.
Maybe we should just get rid of the whitelist and use the advanced prefs panel for these options? Since no two systems seem to be alike

[2019-07-12 19:13] ulisesyaniz opened #110 "Brightness works great, but I Still can't control the volume from my monitor"
Brightness works great, but I Still can't control the volume from my monitor

Please help me fix this issue.

[2019-07-12 19:14] ulisesyaniz commented on #110
External Monitor: BENQ PD3220U
Connection: USB-C / Thunderbolt 3
Device: 2019 Macbook Pro touchBar

[2019-07-18 21:28] donluca commented on #82
High Sierra 10.13.6
Mac Pro 4,1 -> 5,1
Radeon HD 5870 1GB

Dell P2014H (Mini-DP to DVI-D)
Brightness & Volume work perfectly out of the box!

[2019-07-25 08:59] mirgut commented on #105
are there any news?

[2019-07-25 09:48] JoniVR commented on #105
Advanced prefs panel is as good as ready on my part, I'm just waiting on a response from @the0neyouseek. I've been testing it myself and works pretty solid. I'm not seeing any performance issues once I disable polling or set it to minimal and it doesn't freeze since the short delay is used by default.

If you want to test it out, try building the project in that PR yourself for now :)

[2019-07-25 09:51] the0neyouseek commented on #105
@mirgut @JoniVR Sorry, I’m currently on vacation right now and will back late next week. I’ll take a look then

[2019-07-25 10:00] JoniVR commented on #105
Alright, enjoy your vacation!

[2019-07-26 04:01] womeimingzi11 commented on #110
First, I suggest you can try to install this https://github.com/kfix/ddcctl

Then, run

This command may be different for you, which the -d 1 means the first external screen of my MBP, and -v 60 means put the volume to 60%

If it doesn't work on your Monitor, it may be the issue of your monitor's firmware, I don't think MonitorControl can handle this.

[2019-08-13 19:23] innovia commented on #107
i have the dell u3419 can't use mute at tall but running the command line utility ddcctl -d 1 -v 0 works

[2019-08-13 19:41] scorpiondev commented on #107
@innovia: What happens if you run `ddcctl -d 1 -m \?`

[2019-08-14 15:13] odenak commented on #30
I also have this problem, but I found that sometimes after my MBP wakes from sleep, it does work on the fullscreen apps on the external monitor.

[2019-08-14 15:27] odenak opened #111 "Feature Request: Configurable Maximum Monitor Volume Threshold"
My monitor LG 43UD79-B volume can get really loud above 30.  It would be nice if a maximum monitor volume can be configured in the app.  So for example, if I set a max of 30, the Mac volume control between 0-100 will map to 0-30 on the monitor.

[2019-08-15 07:21] leondeng commented on #110
Same issue here.
MBP 15 Mid 2015
macOS 10.14.6
DELL U3415W via min DP to DP link

[2019-08-16 15:53] bmrs opened #112 "Multiple screens do not adjust exactly at the same increments"
Hi,

First, thanks a lot for this app which is far better all the other I have tried. My configuration is: same two monitors (Iiyama ProLite X2283HS) plugged via DP to a Radeon RX 580 Sapphire on a 2012-Mac Pro.

MonitorControl is set to adjust both screens at the same time when using the keys. However, when going down from maximum in a full screen app, one of the monitor decreases from two increm

[2019-08-18 10:53] MHX792 opened #113 "Create an intelligent algorithm for saving identified monitors to decrease the time for searching"
One of my monitors takes way too long to be identified, while others get identified really quick. It would be great, if you could maintain an array of already identified monitors. The next time a monitor gets attached, first search this array. If unsuccessful, search the whole list.

Thanks

[2019-08-18 20:56] MHX792 opened #114 "Better way of lowering contrast after brightness"
Currently, when the lowest brightness setting is reached, it will lower the contrast. Unfortunately the lowering is too strong. It drops to a too way contrast level.

I made suggestions for how to improve this backed by code in this thread:
https://github.com/JoniVR/MonitorControl/issues/3

Hopefully, you will find some time to implement it. I use it with an old version since 8 months now and woul

[2019-08-19 18:14] JoniVR commented on #114
I think this is very much related to #31, so I'm going to close this issue and we'll consider it part of that issue.

I don't think it would be a lot of work to implement since I basically already implemented it on a separate branch of my fork (https://github.com/JoniVR/MonitorControl/commit/59620bbba324d89629d5cea5116d1eee4f9aa578) before shifting focus to this repo.

[2019-08-19 18:14] #114 closed

[2019-08-19 18:17] JoniVR commented on #108
Are you sure ddc is supported on that?
Try installing a tool called ddcctl (search on Github) and then pasting the output.

[2019-08-19 18:21] JoniVR commented on #112
Strange, are they connected using the same cables (both DP) too? And do the actual display brightness values differ when you check them through the displays OSD?

[2019-08-19 18:31] JoniVR commented on #17
This is most probably due to your display not being able to read the values using ddc.

I have the same issue, currently the app already falls back to last known values though and when #97 gets merged and released you'll be able to disable polling altogether so you don't get the CPU hog.

Going to consider this closed due to inactivity and partial fix should already be there.
Feel free to reopen i

[2019-08-19 18:31] #17 closed

[2019-08-19 18:33] JoniVR commented on #110
@leondeng @ulisesyaniz Please try @womeimingzi11 's suggestion and paste your output here.

[2019-08-20 22:16] innovia commented on #107
@scorpiondev

[code]

[2019-08-20 22:26] scorpiondev commented on #107
@innovia: You need to add the ‘ /?’ to the end of that command so we can see the results :)

[2019-08-21 17:07] innovia commented on #107
@scorpiondev

[code]

[2019-08-21 17:13] scorpiondev commented on #107
@innovia, thanks for that - if I were to take a wild guess, it looks like your monitor maps the mute control to speaker volume, as evidenced by **current: 30, max: 100** as compared to my monitor (output below) where the same control has **current: 2, max: 2** (value of 1 is muted, value of 2 is not).

[code]

@JoniVR: I'm happy to work on both the issue I pointed out in my previous post (feel fre

[2019-08-22 10:44] JoniVR commented on #107
@scorpiondev Sounds good to me, no pressure though, feel free to do it whenever you have time or feel like it :)

[2019-08-27 07:03] mirgut commented on #105
@the0neyouseek
hope you had a great vacation.
is there any change to get the issue fixed?

thanks in advance!

[2019-08-27 07:35] the0neyouseek commented on #105
Hi @mirgut, I've just had a look at @JoniVR's PR, can you build the app and test if it fixes your issue ?

[2019-08-27 10:23] JoniVR commented on #109
Apparently I'm not the only person facing this issue. See discussion in #116.

[2019-08-27 13:22] JoniVR commented on #113
It's a nice idea but I'm not sure if that could work, in the meantime, once the advanced prefs panel is released, I'd recommend trying the `longerDelay` option for that specific display, that might fix it taking so long to identify.

[2019-08-27 22:12] christianv2m opened #117 "Does not work on mac book pro with external screen on Display port"
- Macbook pro with Mojave 10.14.6.
- CalDigit thunderbolt station (https://www.amazon.es/caldigit-TS3-Plus-Thunderbolt-puertos-DisplayPort/dp/B07CVP5HMP/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=caldigit&qid=1566943834&s=gateway&sr=8-1)
- External screen BenQ 27 inches with Display port.
- The buttons does not affect audio at all.
- Brightness buttons only affects native lapto

[2019-08-27 22:15] JoniVR commented on #117
Please see #61

[2019-08-27 22:16] #117 closed

[2019-08-28 09:35] KAMIKAZEUA opened #118 "Support for custom key shortcuts"
I have a macmini and a simple keyboard. How to control brightness via keys?
Just want to assign custom Key's for some action. For example, F1-F2 for brightness.

Perhaps, basically something like:

<img width="265" alt="Screen Shot" src="https://user-images.githubusercontent.com/3391456/63844123-487aed00-c990-11e9-9807-b52d42414c5a.png">

edit: in my app it was dumb simple)
https://github.com/KAMI

[2019-08-28 09:57] JoniVR commented on #118
Always welcome to make a PR if you want to! :)

[2019-08-28 10:01] KAMIKAZEUA commented on #118
I don't know swift at all and I don't like it :), but honestly, the main problem - I don’t have time to support my program or any other. Just found yours and it's looks almost perfect, excepts keys and also smooth brightness change :) like just by +-1%

[2019-08-28 10:04] JoniVR commented on #118
Smooth brightness/volume should work like it does natively on a mac using <kbd>shift</kbd> + <kbd>alt</kbd> modifiers :)

[2019-08-28 10:08] KAMIKAZEUA commented on #118
Okay, I see. But just for constant and precise control I've set smooth option enabled by default. Never used Apple keyboard's..

[2019-08-29 00:55] KNNSpeed commented on #102
In the same boat. A DisplayPort Alt Mode adapter works (I'm using one by Plugable), but the native HDMI port does not. The native HDMI port of a Late 2013 MacBook Pro does work with the same monitor, however.

The native HDMI on the Mac Mini has a lot of this in the log:

2019-08-28 20:48:42.636754-0400 0xdda5     Error       0x0                  1036   0    MonitorControl: (DDC) Failed to send re

[2019-08-29 03:49] KNNSpeed commented on #102
Some more data:
2019-08-28 23:33:21.842438-0400 0xaafb     Error       0x0                  935    0    MonitorControl: (DDC) Checksum of reply does not match. Expected 128, got 110.
2019-08-28 23:33:21.842649-0400 0xaafb     Debug       0x0                  935    0    MonitorControl: (DDC) Response was: 6E 80 BE 6E 80 BE 6E 80 BE 6E 80
2019-08-28 23:33:21.842690-0400 0xaafb     Error       0x0

[2019-08-30 16:52] scorpiondev commented on #109
Adding relevant comment from #116:

[2019-08-30 23:50] jcastro commented on #27
Just something that might be of interest. The new LG 2019 Ultrafine 5k is finally using the light sensor (see https://twitter.com/jonatan/status/1167163794281455616) so maybe there's a chance to use that information to automatically change others' display brightness (probably with a configurable offset for the value)

[2019-08-31 16:12] scorpiondev commented on #109
Build numbers are generally intended to identify when a "formal" build has been made, usually by CI. They aren't really relevant for individual contributors making day-to-day changes to the code. They're great to differentiate releases in an enterprise environment where there could be multiple builds of the same release version kicking around in QA and various stages of testing.

In fact, there ar

[2019-09-03 09:39] mirgut commented on #105
i am not familiar with building the app. Can you help me and get me a built app?

[2019-09-06 15:54] wmertens opened #120 "Add option to make small increments the default"
My monitor gets way too loud way too soon, so it would be nice to map the mac volume to a slow-starting curve like `v = x/(2-x/100)` (where 0 <= x <= 100 is the mac volume)

[2019-09-12 00:04] edeis53 opened #121 "Release with updated DCC.swift?"
reitermarkus/DDC.swift has been updated with a fix that should allow support for Acer monitors.

Based on update to kfix/ddctl which implement Fix signed/unsigned compare.
https://github.com/kfix/ddcctl/issues/53

@the0neyouseek  Can you issue a release with the DCC.swift dependancy updated to latest commit?
https://github.com/reitermarkus/DDC.swift/commit/41e7c49b0450033c5349ca1cf5234a26ebc011b8

[2019-09-13 19:49] cybertunnel opened #122 "Monitor Disconnect / Reboot on macOS Catalina (10.15.0 B6)"
OS: macOS 10.15.0 B6

Sorry ahead of time if this is a repeat. However I am running macOS 10.15.0 B6 which causes my external ASUS monitor to disconnect/reboot after playing with the sound too quick or often. Mainly occurs around the volume control via. menu or keyboard commands.

[2019-09-14 22:19] edeis53 commented on #121
@JoniVR should I create a pull request for this? would you accept?

[2019-09-14 22:56] JoniVR commented on #121
I was planning on updating DDC.swift first thing when I get time. Then trying to merge in #116 and then create a release. I’ll try to get that done tomorrow but I can’t promise anything. But a PR is not really necessary since it’s should be pretty easy to do.

[2019-09-14 23:01] JoniVR commented on #121
Actually I think I’ll create a release before merging in #116 so we can get these critical fixes out faster.

[2019-09-15 00:33] JoniVR commented on #121
New release (v1.7.0) has been created. Please let me know if you run into any issues. I'm going to consider this closed in the meantime. :)

[2019-09-15 00:33] #121 closed

[2019-09-15 00:34] JoniVR commented on #109
Fixed temporarily by reverting back to using the build number inside the plist. Might need a better solution in the future when we move to CI/CD, going to consider it closed for now.

[2019-09-15 00:34] #109 closed

[2019-09-15 00:35] JoniVR commented on #120
To me this seems like a feature that adds a bit of complexity and only benefits a very small number of users, but that's just my opinion, I don't know how others feel about it.

[2019-09-15 00:36] JoniVR commented on #105
Can one of you guys please test the new release (v1.7.0) and report back if it's fixed? Should be fixed now without changing any settings.

[2019-09-15 00:37] JoniVR commented on #102
New release (v1.7.0) includes the updated DDC.swift framework, can someone please test it and report back if it's fixed or not?

[2019-09-15 00:38] JoniVR commented on #108
Can you test v1.7.0 and report back please?

[2019-09-15 00:39] JoniVR commented on #61
People that were having issues can test v1.7.0 and see if it helps as it might fix MonitorControl for some monitors.

[2019-09-15 00:40] JoniVR commented on #98
Added in v1.7.0

[2019-09-15 00:40] #98 closed

[2019-09-15 00:43] JoniVR commented on #37
People that were having issues with High CPU usage at launch should try v1.7.0 as it now includes the Advanced Preferences Panel that allows you to lower or disable the amount of polling. A lower polling setting should reduce CPU usage. For more info, refer to the [Wiki](https://github.com/the0neyouseek/MonitorControl/wiki).

[2019-09-15 05:00] edeis53 commented on #121
Nice. Works like a charm. Now I can finally control my Acer monitor!

BTW. Not a biggie, but the release wasn't signed with a developer ID. Gives the 'ol "can’t be opened because Apple cannot check it for malicious software" message.

[2019-09-15 05:01] edeis53 commented on #121
and thank you!

[2019-09-15 06:35] phao5814 commented on #112
I have a similar problem. And yes both monitors are connected using the same HDMI cables to my graphics card.

[2019-09-15 08:05] waydabber commented on #102
Unfortunatelly native HDMI still does not work on Mac Mini 2018 using 1.7.0. :( USB-C and eGPU works fine.

Note: for whatever reason, changing brightness is a little bit choppy/laggy since 1.4.0. I always revert to JoniVR's forked version since changing brightness is super responsive and smooth with that version.

[2019-09-15 09:09] mirgut commented on #105
for me its working fine, also in split mode. :)
THANKS A LOT

[2019-09-15 10:15] JoniVR commented on #121
Thanks for letting me know, I think I forgot to notarize because I did sign it. I'll look into it later.

[2019-09-15 11:38] JoniVR commented on #121
Should be fixed now :)

[2019-09-15 13:32] Docxavier opened #123 "Enable accesibility for keyboard shortcuts not working"
I cannot enable MonitorControl in System Preferences > Security and Privacy > Accessibility for the keyboard shortcuts to work on Catalina Beta

[2019-09-15 14:49] JoniVR commented on #123
Can you give us more details? What happens? Does MonitorControl show up there or not?

[2019-09-15 16:57] Docxavier commented on #123
Hi Joni,

Wen the app starts, it’s asking about this

When I try to click on the box to enable the app in Preferences>Security & …., the click on the box doesn’t work, so it’s not possible to enable the app for the keyboard shortcuts to work.

MonitorControl runs but without shortcuts.

Am I doing something wrong?

[2019-09-15 17:01] JoniVR commented on #123
Can you try removing MonitorControl from the list inside Security & Privacy? And after that restart MonitorControl and try to enable it again.

A gif of what's happening would be helpful too :)

[2019-09-15 17:08] Docxavier commented on #123
Ops, this works ... Now I can set the app correctly

I'm not using apple Kb, could I use customized keys?

Many thanks¡¡¡

[2019-09-15 17:11] JoniVR commented on #123
Not as of yet, but it has been requested already, see #118  :)

[2019-09-15 17:11] #123 closed

[2019-09-16 12:20] TristenChenTao opened #124 "Apple Keyboards F10 close/open volume do not work"
1、Apple Keyboards F10 close/open volume do not work
2、Apple Keyboards F11 lower volume to zero， but still have a little volume

MonitorControl：1.7.0
macOS：10.14.6
DisplayName：PHL 328M6FJS

[2019-09-16 12:59] cybertunnel commented on #122
Are there any logs I can grab for you?

[2019-09-17 08:40] JoniVR commented on #124
If I understand your question correctly, see #107

[2019-09-17 08:42] nedelec opened #125 "Immediate crash on Macbook pro 10.14.6"
My mac immediately freezes when I start Monitor Control 1.7.0, forcing me to reboot.
It was working fine before I updated to Mojave.
Sorry but I am not sure what is going on or how to find out...

[2019-09-17 09:20] JoniVR commented on #125
What Monitor, GPU and cable are you using?

[2019-09-17 09:22] nedelec commented on #125
NVIDIA GeForce GT 750M:

  Chipset Model:	NVIDIA GeForce GT 750M
  Type:	GPU
  Bus:	PCIe
  PCIe Lane Width:	x8
  VRAM (Total):	2 GB
  Vendor:	NVIDIA (0x10de)
  Device ID:	0x0fe9
  Revision ID:	0x00a2
  ROM Revision:	3776
  Automatic Graphics Switching:	Supported
  gMux Version:	4.0.8 [3.2.8]
  Metal:	Supported, feature set macOS GPUFamily1 v4

  Displays:
DELL U2412M:
  Resolution:	1920 x 1200 (WU

[2019-09-17 09:27] JoniVR commented on #125
Thanks for the detailed info!
Can you confirm that it did work on 1.6.0 or other versions?

[2019-09-17 09:31] nedelec commented on #125
I believe that MonitorControl 1.6.0 on the same system also crashed.
but it worked back in July, before I upgraded to Mojave.

[2019-09-17 09:34] JoniVR commented on #125
Might be related to your Nvidia card then. My guess would be that the `minReplyDelay` is too high but I could be wrong, we'll need to look into this.

Your system freezes completely right? Like no mouse cursor movement either?

[2019-09-17 09:39] nedelec commented on #125
Yes, complete freeze, including the mouse, and I see nothing in the logs.

[2019-09-17 11:02] JoniVR commented on #125
My guess is that the issue explained in [this forum post](https://www.tonymacx86.com/threads/controlling-your-monitor-with-osx-ddc-panel.90077/post-581242) is what’s happening:

Timing is very important for I2C buses as I've been reading, so a "good" value here is critical. If the reply is taken too early, the data will be garbage and fail to checksum, too long and it may mimic a Kernel Panic. Run

[2019-09-17 11:14] TristenChenTao commented on #124
i can use "ddcctl -d 1 -v"  mute volume, but still F10 still does't works
do you have plan to fix this bug ?
by the way soundflower can use F10 mute volume

[2019-09-17 12:19] nedelec commented on #125
Hello, 'ddcctl' does not crash, and detect the monitor, but the brightness does not change. Is there something you would like me to try?

mac:ddcctl-master$ ./ddcctl -d 1 -b 1
D: NSScreen #724053908 (1920x1200 0°) 94.00 DPI
I: found 1 external display
I: polling display 1's EDID
I: got edid.serial: Y1H5T29I1H1L
I: got edid.name: DELL U2412M
D: action: b: 1
D: setting VCP control #16 => 1

mac:ddcc

[2019-09-17 12:24] JoniVR commented on #125
Yes, please test changing volume too as brightness is less prone to causing issues than volume. :)

[2019-09-17 12:29] nedelec commented on #125
It did not crash, but this monitor has no speakers, as far as I know.

mac:ddcctl-master$ ./ddcctl -d 1 -v 10
D: NSScreen #724053908 (1920x1200 0°) 94.00 DPI
I: found 1 external display
I: polling display 1's EDID
I: got edid.serial: Y1H5T29I1H1L
I: got edid.name: DELL U2412M
D: action: v: 10
D: setting VCP control #98 => 10

[2019-09-18 11:59] JoniVR commented on #125
Hmm might be difficult to debug.. could you try a few of the previous versions and let me know if any of them work? Make sure to test 1.4.0

[2019-09-22 15:45] njack121 opened #128 "No Supported Display Found"
Unable to use MonitorControl... Seeing greyed out text that says "No Supported Display Found"

Accessibility enabled... Macbook Pro, Mojave 10.14.6

[2019-09-28 06:16] kevinjohncutler commented on #49
Same issue with dual viewsonic vp2780-4k monitors. Can only adjust the second display by turning the primary one off. On the latest version.

[2019-09-30 19:38] mathieupost commented on #110
Found out that controlling the volume for my Dell U3415W works, but it just does not have effect when I've got a 3.5mm plugged into the monitor for some reason...

[2019-09-30 22:44] ppogorze opened #129 "Cannot tick MonitorControl privacy checkbox in MacOS Catalina"
https://imgur.com/a/asmlIeO
v. 1.7.0
MacOS Catalina Beta 8-10

[2019-10-01 04:29] scorpiondev opened #130 "Values for DDC audioMuteScreenBlank command are being saved to audioSpeakerVolume"
While making performance enhancements, I noticed that when the values for the audioMuteScreenBlank command are successfully read, they are being persisted to the preference values for audioSpeakerVolume instead.

This issue is present as of 6beb9d228e6187bcce69c68f3871d961cbcf7125.

[2019-10-01 05:30] scorpiondev opened #132 "Contrast slider is not set to its previous value when increasing brightness if "Lower contrast after brightness" is enabled"
**Repro Steps:**
1. Make sure "Lower contrast after brightness" is turned on, brightness is currently >0 and contrast is currently >0
2. Lower the brightness to 0
3. Check the brightness and contrast sliders - they should both be 0
4. Raise the brightness by one level
5. Check the brightness and contrast sliders

**Expected Results:**
- The brightness slider should be set to level one
- The contra

[2019-10-01 16:12] lukees opened #135 "Monitor not working/detected consistently (HP Z27)"
Monitore: HP Z27
Laptop: MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)
MacOS: 10.14.6
Connection: USB-C

This has happened twice now. The first time, I had my MacBook connected for a few days and didn't have the issue until I disconnected it, took it out, and tried hooking it back up. It wouldn't detect it and eventually, after restarting my computer a few times, quitting the MonitorControl

[2019-10-01 16:28] lukees commented on #135
I tried rebooting, factory-resetting, and using the HDMI connection, and still cannot get my monitor to detect my MacBook over USB-C, though it still sends power to it.

[2019-10-01 20:16] #129 closed

[2019-10-01 20:16] ppogorze commented on #129
Duplicate

[2019-10-01 21:31] JoniVR commented on #130
Thanks for the fix! 👍

[2019-10-01 21:31] #130 closed

[2019-10-01 21:33] JoniVR commented on #128
See #61

[2019-10-01 21:33] #128 closed

[2019-10-01 21:36] JoniVR commented on #135
So it worked before with the exact same setup? You didn't change anything?
Didn't update the app? These issues can be pretty hard to debug especially without having physical access..

Also, what MonitorControl version?

I'd suggest testing with [ddcctl](https://github.com/kfix/ddcctl), reporting results here first.

You'd probably have to find a way to reproduce this happening before we can even g

[2019-10-01 21:50] lukees commented on #135
Yeah, I'm not sure how this would be debugged. I'm just hoping someone else runs into the issue and shares a solution with me.

This second time around I didn't do anything new (like I didn't the last time). I ran the app, it saw my monitor, I played with the brightness and it worked great. Then later, I unplugged my MacBook from the monitor (it connects via USB-C for power, IO, and display) took

[2019-10-02 01:38] kevinjohncutler opened #136 "Volume OSD not hidden, but it dissapears quicker with keyboard control. Not at all with slider."
I'm on the LG 5k2k monitor, and the "hide OSD" checkbox doesn't function as intended for the native volume OSD. Enabling it forces the window to close more quickly, which is better, but it still flashes up. Meanwhile, the volume slider in the taskbar activates the OSD as normal - that is, it comes up and persists for several seconds after the volume is adjusted. It would be better if that were hid

[2019-10-05 14:27] kikiwora opened #137 "Ukrainian localisation has to be updated for the new version of app"
I will do it.
Pull request will be pushed soon

[2019-10-05 15:11] kikiwora commented on #137
Done: https://github.com/the0neyouseek/MonitorControl/pull/138

[2019-10-06 17:53] JoniVR commented on #136
I have the same issue on my monitor. It's not perfect yet hence why it's in Advanced Prefs. Figured it would still be better to put it in there since it does help. But thanks for opening the issue.

Might look into it in the future or if anyone else wants to open a PR and fix it, feel free ;)

[2019-10-06 18:12] kikiwora commented on #137
Readme now has UA flag listed in translations👌🏼

[2019-10-08 07:21] kikiwora commented on #137
Removed SF Symbols, since those breaks compatibility with older systems

[2019-10-08 14:45] pawel221 opened #139 "Unable to install app "Apple cannot check for malware""
When I try to open file MonitorControl.1.7.0.dmg I get following message, which basically says:

Tested on MacBook Pro (15-inch, 2019), macOS Mojave 10.14.5 (18F203)

![Zrzut ekranu 2019-10-8 o 16 41 18](https://user-images.githubusercontent.com/956899/66405522-88e77500-e9ea-11e9-97f4-a8ffb53300b1.png)

[2019-10-09 10:52] #137 closed

[2019-10-10 06:34] Perkka2 opened #140 "Mouse and keyboard stops working"
When the application is started my mouse and keyboard stops working.
It can be solved by unhooking the monitor and using the built in macbook pro monitor, as soon the monitor is reconnected mouse and keyboard wont react to anything except caps lock again.

I believe it's the same as the issue "freezed my hackitosh right from the start. Restart required to get back. #105"

My external monitor is a

[2019-10-10 20:36] JasonQS opened #142 "Could I customize shotcut for Hackintosh?"
the default key bind is F14 for dec and F15 for inc light, is there a way to customize? thanks

[2019-10-13 21:15] JoniVR commented on #139
Can you try downloading again and trying again? I forgot to notarize when I first released it but fixed it soon after. I checked the dmg and should be signed and notarized.

[2019-10-13 21:17] JoniVR commented on #140
More info would be nice, what macOS, what GPU, what cable, ... also, maybe try [ddcctl](https://github.com/kfix/ddcctl) and report back if you have the same issue or not.

[2019-10-13 21:31] JoniVR commented on #108
Closing for now since no response.

[2019-10-13 21:31] #108 closed

[2019-10-13 21:33] #140 closed

[2019-10-13 21:37] JoniVR commented on #142
Not as of yet, but it's a feature that we could add in the future. If anyone wants to take a look at it, Pull Requests are always welcome :)

[2019-10-13 21:40] JoniVR commented on #135
Try on 1.7.0 and let me know, there isn't anything as far as I'm aware that you need to manually remove that could have an impact on your issue.

[2019-10-13 23:59] #132 closed

[2019-10-14 10:12] jcastro commented on #27
Another interesting fact, looks like now even the older LG Ultrafine 5k that didn't have the auto-brightness working now it's enabled if you are on Catalina.

[2019-10-14 14:35] Perkka2 commented on #105
My issue is with version 1.7.0, using Displayport cable (minidisplayport)
using mojave 10.14.6

As told in the other issue it's only mouse and keyboard that stops working and not the computer that freezes. mouse and keyboard control comes back when unplugging the monitor or killing the application.

It also freezes using ddcctl when querying the monitor

[2019-10-14 22:23] KAMIKAZEUA commented on #142
Same as I described https://github.com/the0neyouseek/MonitorControl/issues/118
Yes, setting any key would be really cool.

[2019-10-14 22:51] JoniVR commented on #142
I had overlooked that one, will close this issue as it's a duplicate 🙂

[2019-10-14 22:51] #142 closed

[2019-10-15 06:30] inf0dr0id commented on #111
That would be really great. The LG 38UC99-W has the same problem.

[2019-10-17 06:50] scorpiondev commented on #136
@JoniVR: FWIW, this is quite easy to implement, but I'm wary about the method by which the OSD is being hidden (that is, writing 0x01 twenty times consecutively to the 0xca DDC command).

On my monitor that doesn't automatically show the display OSD when writing DDC commands, setting this value once seems to be indefinite until you set it back to 0x02 (OSD enabled).

I do have access to a monitor

[2019-10-20 15:06] SicxA1 opened #145 "Display: Samsung C27F390"
Display: Samsung  C27F390

Monitor Control doesn't work constant
and it only works  when contrast slider is activated

Mojave 10.14.6/ Mac mini Server (Late 2012)2,3 GHz Intel Core i7/16 GB 1600 MHz DDR3/ Intel HD Graphics 4000 1536 MB/

[2019-10-20 15:31] picov opened #146 "Italian translation missing in 1.7 dmg package"
The Italian translation added with v 1.7 is present into the source code but not in binary .dmg release.

[2019-10-20 15:49] JoniVR commented on #146
As far as I can tell I think they didn't get referenced to the project in the PR, so that's probably why. Thanks for letting us know.

[2019-10-20 16:57] picov commented on #146
Please also note that the strings related to the new advanced panel available in v1.7 are missing inside the en.lproj thus is difficult to complete the translation.

[2019-10-21 06:08] anamba commented on #102
I have a Mac Mini 2018 with a Dell U2515H. Up until now I was using HDMI to HDMI, and brightness adjustment did not work. But I just got a new USB-C to DP adapter and connected that way, it works great. (Also works fine with my 2015 13" MacBook Pro using a mini DP to DP cable, but that's not really relevant here.)

[2019-10-21 06:14] kikiwora commented on #102
Well, one USB-C to HDMI adapter (cord-like) didn't work for me on mac mini 2018, but the other one did. Have no idea why is that, cause the cheaper one actually worked, not the expensive one.
And that is weird.

[2019-10-21 11:16] JoniVR commented on #102
It's different for every cable and connection. Some cables or adapters just don't work with ddc at all. Usually the problem is not with the software but with the cable.

Yes, this will probably get resolved in #134

[2019-10-21 11:18] JoniVR commented on #102
I'm going to consider this closed as it's probably resolved and in the situations where it doesn't work it's probably due to cable/adapter. We can't possibly support all cables and adapters, so make sure you try different connectors, cables and adapters first. It's also a duplicate of #61

[2019-10-21 11:18] #102 closed

[2019-10-21 11:46] waydabber commented on #102
Well, USB-C to HDMI adapters will differ on the basis of their implementation (do they use HDMI or DisplayPort Alt mode internally), so this might make the results inconclusive. But the Mac Mini 2018 internal HDMI does not work and this is a consinstent result. I tested with the same cable, same Mac Mini 2018 through the internal HDMI port and a Thunderbolt eGPU HDMI port - the latter one works, t

[2019-10-22 19:45] scorpiondev commented on #136
I tested the required change to make the display OSD hide upon changing slider values both independently and as part of my changes in #134, and they both seem to work fine.

Hitting the display 20 times with the hide OSD command causes the movement of the slider to become pretty rough. I removed the 20x repeat and it was a lot smoother, plus it still worked as intended.

If there wasn't a specific

[2019-10-23 15:18] jasonbarrows commented on #49
I have just noticed the very same issue using 2 x BenQ PD2700Q monitors using integrated Intel HD4000 graphics.  Audio over DisplayPort is only possible via one out of the two ports.  I don't know if that will have something to do with it.

[2019-10-24 09:05] kikiwora commented on #30
The same issue here.

But for me, the second monitor is actually the primary monitor of two of them due to issues with brightness control via HDMI on Mac Mini 2018.

As for me, this is at least **medium** priority, since it greatly impacts user flow

**+1** for higher priority

[2019-10-24 21:30] #146 closed

[2019-11-01 02:49] Spirotot commented on #110
@mathieupost You're saying it works for you, 100% as expected, _without_ 3.5mm plugged into your monitor?

I haven't tried _with_ 3.5mm, but I've noticed that _without_, the U3415w's volume value is changed. However, it does not go into effect until I either:
* Restart the display (by toggling via the monitor's power button, or otherwise putting it to sleep/waking it back up).
* Manually adjust th

[2019-11-06 07:43] tjarksaul opened #148 "Ctrl + F1/F2 should change the internal monitor's brightness"
This is the default behaviour on Apple monitors.

[2019-11-12 12:01] ricardo-fonseca opened #149 "No mute when turning sound all the way down on Lenovo X1 (2nd Gen) monitor"
Hi

The sound control is not working properly on on Lenovo X1 (2nd Gen) monitor (This may be a duplicate of #94). I'm running version 1.7.0 (build 573)

Two things happen:

1. The mute button has no effect on sound level
2. Lowering the sound all the way down brings the monitor sound down to level 3 or 4 (out of 100), which still outputs sound.

I'd be happy to help with any testing.

Thanks for a

[2019-11-12 12:05] JoniVR commented on #149
Hi @ricardo-fonseca!

Both of these issues should have been resolved in #116 and will be added in the next release (which should be soonish) 🙂

[2019-11-12 12:06] #149 closed

[2019-11-12 14:30] ricardo-fonseca commented on #149
Thanks a lot.

All the best,
Ricardo

—
Ricardo Fonseca

Full Professor | Professor Catedrático
DCTI - Dep. Ciências e Tecnologias da Informação
ISCTE - Instituto Universitário de Lisboa
Av. Forças Armadas
1649-026 Lisboa
Portugal

tel: +351 21 7650544    ext: 220107
web: https://ciencia.iscte-iul.pt/rpafa/en

On 12 Nov 2019, at 12:05, Joni Van Roost <notifications@github.com<mailto:notifications@

[2019-11-13 13:21] JoniVR commented on #149
Hi

Just letting you know that v1.7.1 has been released, please let me know if you happen to run into any issues.

[2019-11-13 18:53] jhildenbiddle commented on #148
I'd also like some way to control brightness of the internal display when using MonitorControl with an external monitor.

[2019-11-18 10:47] ricardo-fonseca commented on #149
It’s working fine, thanks again for a great piece of software!

—
Ricardo Fonseca

Full Professor | Professor Catedrático
DCTI - Dep. Ciências e Tecnologias da Informação
ISCTE - Instituto Universitário de Lisboa
Av. Forças Armadas
1649-026 Lisboa
Portugal

tel: +351 21 7650544    ext: 220107
web: https://ciencia.iscte-iul.pt/rpafa/en

On 13 Nov 2019, at 13:21, Joni Van Roost <notifications@github

[2019-11-18 16:53] Moehrenbaum opened #150 "Not working on Catalina anymore"
First off, thanks for this awesome piece of software. I love it.

It worked just fine until I updated to Catalina. Now, I continue to get the message:

"MonitorControl" would like to control this computer using accessibility features ....
Grant access...

I did multiple times. It appears in the list, yet nothing is happening anymore. Not sure what else I could provide to help fix this issue. Pleas

[2019-11-18 16:57] JoniVR commented on #150
Hi!

Have you tried removing it from the list and then relaunching it? That used to help when people had issues on Mojave.

I'm personally still running Mojave but once my new 16" arrives I'll be forced to use Catalina anyways so I can look into Catalina specific issues.

[2019-11-18 18:11] Moehrenbaum commented on #150
Just tried. The message is not coming up anymore but the keys or menu isn't working either. sorry.

[2019-11-19 13:09] dmarin commented on #49
Same issue, 2 hp monitors. I can see the 2 devices in "monitorControl", but it does not matter which one I choose it always changes the settings for the "main" one

[2019-11-19 18:09] Eric1200 opened #151 "Smaller increments don't work for brightness"
When using a standard mac display, it is possible to fine tune the brightness and sound volume with smaller increments (1/4 of an increment) when pressing SHIFT+OPTION + the volume or brightness keys.
https://lifehacker.com/adjust-os-xs-volume-in-smaller-increments-by-pressing-o-5916372

Is it possible to add this feature in the next release?

[2019-11-19 22:11] JoniVR commented on #151
As far as I'm aware this already works for volume.. but it doesn't seem to be working for brightness at the moment.

[2019-11-19 22:43] Eric1200 commented on #151
Exactly, it works for volume (at least as I can assume, since I am not
using the setting through MonitorControl) and macOS has the same behavior
for brightness. I must say that I would find it great if I could adjust
more precisely the brightness of my monitor (especially in the lowest
range), as I would have done with a laptop. Nice to have, but I hoped it
would not be a difficulty to implement i

[2019-11-20 21:48] leo150 commented on #49
We need a hero with carthage experience.

[2019-11-22 06:56] scorpiondev commented on #151
Seems to be working fine on the latest **master** commit, and released version 1.7.1 (build 574) - I'm on macOS 10.14 though.

@Eric1200, @JoniVR: Are you both on macOS 10.15?

[2019-11-22 16:02] Eric1200 commented on #151
Yes, I am using macOS 10.15.1 and also Monitor Control version 1.7.1 (build 574). Sound volume works fine with small increments, but not brightness (and my monitor is a LG 27UD88-W connected in USB-C).

[2019-11-22 16:20] JoniVR commented on #151
I'm on 10.14.6 (Mojave). Volume small increments work but not on brightness on both on DisplayPort and DisplayPort through GPU. Makes no sense really since the code seems to be the same.. I'll try testing if it actually worked in earlier versions once I can get some more free time.

[2019-11-23 08:47] jellybeaner101 opened #153 "Not working with Hub/Dock"
First off let me say a big thank you to the dev/s of MonitorControl for a great piece of software and been working great since I started using it last year !

I recently bought a Thunderbolt hub with a DisplayPort output port. I could be wrong but MonitorControl doesn't seem to like this setup.

[2019-11-26 16:12] BreiteSeite opened #154 "Unexpected change of brightness after display was asleep"
# Steps to reproduce
1. Have MacBook in Clamshell mode w/ LG UltraFine 5K Display connected
2. Ensure MonitorControl.app is NOT running
3. Set Brightness to 100%
4. Open MonitorControl.app
5. Reduce brightness to (for example) 30%
6. Put display to sleep (Via external keyboard: [Control–Shift–Media Eject](https://support.apple.com/en-us/HT201236))
7. Wake-Up Display via pressing any button on the

[2019-11-28 11:12] yedlosh commented on #14
Well I had tried the Brightness Menulet because of this, and it's Follow Main Screen option works great for me, but it has a bug that only one of my two identical monitors gets controlled, and it's apparently not supported anymore. So yeah.. It's a shame there still isn't one DDC app which has everything working.

[2019-11-29 15:24] KAMIKAZEUA commented on #118
@JoniVR Any news :) ?

[2019-11-29 15:41] yedlosh commented on #148
Right now I am using this one instead of MonitorControl to achieve that:
https://github.com/Bensge/NativeDisplayBrightness

It has no UI, it's not supported anymore, but it simply controls brightness of all my external monitors at once using F1/F2. Which is actually everything I needed.

So Fn keys remain free to control internal display, and F1/F2 (for me actually Fn+F1/F2) control the external o

[2019-11-30 19:55] JoniVR commented on #150
Hi, I just wanted to let you know that everything still works fine on my new machine running Catalina, so I doubt that is the issue.. Can you try reinstalling or perhaps try a few previous versions?

[2019-12-01 17:46] cantchooseaname8 commented on #154
I can report the same issue. My MacBook Pro is always in clamshell mode. Whenever it wakes up from sleep, MonitorControl appears to have forgotten the settings. The brightness has changed, but also the volume becomes extremely loud when it was originally set to the lowest setting before the computer going to sleep. It seems to happen every time and I can't find a workaround to get it to work. Afte

[2019-12-02 12:42] JoniVR commented on #154
Hi @BreiteSeite

Thanks for the detailed description of your issue, it really helps a lot!

If I understand you correctly, what you're seeing is intended behaviour.

This is correct. We save the display values in the app as a fallback because for some monitors it's not possible to read their actual values from the display, you can only control them.

So in case reading values (polling) fails, we u

[2019-12-02 16:50] Moehrenbaum commented on #150
Hi there! Thanks for the mail. I appreciate you reaching out. However, I have tried any possible combination (install, uninstall, w/ boot, w/o boot….). It’s not working for me. Anything I can provide for you to test, please let me know.
Best, Dirk

On Nov 30, 2019, at 20:55, Joni Van Roost <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, I just wanted to let you know that ev

[2019-12-02 17:14] cantchooseaname8 commented on #154
I noticed some additional behavior. Based on your response, it does appear to be saving the last known value. I have the volume set on a low setting. When the computer wakes up and I start playing music, it keeps the volume on the same low setting. However, as soon as I touch the volume keys on my keyboard, the volume jumps to a very high volume (probably around 50%) and it starts being adjusted f

[2019-12-03 00:25] BreiteSeite commented on #154
@JoniVR

No it doesn't.

Tried increasing polling to heavy and also to enable Longer Delay. Both did not change the behaviour.

Will try that when i have some spare time.

What would work very nice for me would be to exclude the 5K from MonitorControls handling. Meaning it just doesn't care/interfere and let the native stuff doing its thing. Than it would work like a charm. Because my other LG dis

[2019-12-03 12:45] gaevoc opened #156 "LG 27UK850 control works only via USB-C"
Hi,
thank you for such a nice utility!
MonitorControl works nicely on my LG 27UK850 when connected to a Mac mini 2018 via USB-C but id seems not to work via HDMI, is it correct?

Thank you in advance
Gaetano

[2019-12-03 12:46] gaevoc opened #157 "LG 27UK850 - OSD not hidden"
Hi,
when controlling the volume level on my LG 27UK850 connected to a Mac mini 2018, the native LG OSD is not hidden and overlaps the MacOS OSD.

Thank you
Gaetano

[2019-12-03 14:40] JoniVR commented on #157
https://github.com/the0neyouseek/MonitorControl/wiki/Advanced-Preferences#hide-osd

[2019-12-03 14:41] #157 closed

[2019-12-03 14:43] JoniVR commented on #153
That is possible.. you could try some of the [advanced preferences](https://github.com/the0neyouseek/MonitorControl/wiki/Advanced-Preferences) but it usually means your dock/connector/screen doesn't properly support it..

Closing as duplicate of #61

[2019-12-03 14:43] #153 closed

[2019-12-03 14:44] JoniVR commented on #156
That is possible.. you could try some of the [advanced preferences](https://github.com/the0neyouseek/MonitorControl/wiki/Advanced-Preferences) but it usually means your dock/connector/screen doesn't properly support it.. Best option imo would be to try and switch to USB-C.

Closing as duplicate of #61

[2019-12-03 14:44] #156 closed

[2019-12-03 14:46] JoniVR commented on #145
That is possible.. you could try some of the [advanced preferences](https://github.com/the0neyouseek/MonitorControl/wiki/Advanced-Preferences) but it usually means your dock/connector/screen doesn't properly support it.. Try a different cable or some different configurations, also try if ddcctl does work.

Closing as duplicate of #61

[2019-12-03 14:46] #145 closed

[2019-12-03 14:48] JoniVR commented on #139
Closing due to no response.. feel free to reopen.

[2019-12-03 14:48] #139 closed

[2019-12-03 15:28] gaevoc commented on #157
Thank you!

[2019-12-03 15:35] gaevoc commented on #156
Thanks, I will try to tweak a little with the preferences

[2019-12-04 13:09] llyonard opened #158 "Doesnt work with my lg32lf5610"
Hi!
I have used before other software in trial mode like soundsource or soundcontrol without a problem.
But i cant control the volume with this one, neither manually with the slide nor with my keyboard.
Is it not supported or i miss something?
Thanks

[2019-12-06 22:03] svh1985 opened #159 "Keep brightness in sync between MacBook and external Display"
I would like to request a feature where the external monitor syncs itself to the macbook's display.
This way you can use the MacBook's Touchbar and it's Ambient sensor.

[2019-12-13 15:44] lougreenwood commented on #159
This would be super useful!

[2019-12-14 12:00] alexala1 opened #160 "dosn't works with LG 34WK95U"
As in object, the tool don't works with the LG 34WK95U

[2019-12-16 11:40] ErinPo opened #161 "Can it work with TVs connected to Macs?"
I tried with a current model Samsung TV and could not get it to work. I used an HDMI-adapter for which the manufacturer claims DDC compatibility.

[2019-12-17 13:00] andrekolmeijer opened #162 "LG 27UK850 doesn't respond to brightness keys"
Hi,

I installed your app and the menubar-icon seems to work fine for adjusting brightness and contrast for my monitor. However, changing the brightness on my MacBook with the keyboard keys doesn't change anything for my monitor. Seems not to listen for keys properly.

I have a:
- MacBook Pro 2016 w/ Touchbar
- LG 27UK850 4K HDR display connected through Thunderbolt 3 (USB-C type)
- External wirel

[2019-12-20 23:49] peterclary commented on #154
I have a similar problem with my Philips 499P9. Quitting MonitorControl and restarting it makes everything work exactly as expected.

[2019-12-21 20:48] cantchooseaname8 commented on #154
I’ve been running a script that restarts MonitorControl upon waking from sleep. I haven’t noticed this issue anymore since doing that. It appears that MonitorControl doesn’t work as expected when waking from sleep.

[2019-12-21 21:06] BreiteSeite commented on #154
@cantchooseaname8 would you mind sharing the script?

[2019-12-21 23:22] peterclary commented on #154
I was able to reliably reproduce the issue yesterday, both when the system woke from sleep, and when using the screensaver hot corner. I was able to observe that the jump to maximum brightness seemed to be done by MonitorControl, because when I quit MonitorControl I know longer saw that jump. However, since quitting and restarting MonitorControl it has worked perfectly. I've tried to provoke the p

[2019-12-24 08:56] andrekolmeijer commented on #162
**Update**

Just found out that manually going with my mouse cursor to my external monitor's desktop (Finder) and clicking on the desktop, makes it possible to adjust brightness & volume for my external monitor.

_Interestingly enough I can change Brightness from the touchbar, not volume though. Can change volume with my Magic Keyboard._

Still doesn't adjust both displays at the same time however

[2019-12-24 09:12] funkyboy opened #163 "Issues with DELL U3419W"
This is funny.

Everything works as expected when the monitor is connected to an old Mac mini, which has a mini display port.
Nothing works when the same monitor is connected to a Mac Book Pro (13-inch, 2018, Four Thunderbolt 3 Ports) via any of the thunderbolt ports.
Nothing works = the UI shows the progress bars for both brightness and volume but neither brightness nor volume values actually cha

[2019-12-27 22:43] r3ppy opened #164 "Volume Controls: Not Working DELL U2719D"
Hello,

My Dell Monitor U2719 seems to work fine with brightness controls, but the volume controls do not work at all. Any idea how to resolve this issue?

[2019-12-27 22:45] r3ppy commented on #110
Same here Dell U2719D with 3.5 mm jack. Volume controls not working.

[2019-12-29 08:59] jasonshelby commented on #162
I have same issue on my LG 27UK650 4K, but it is used to work well when I first install it

[2019-12-29 09:03] jasonshelby commented on #162
I fix it !!!  only change another HDML-typec line

[2019-12-30 00:34] gonzalohp96 opened #165 "how to uninstall properly??"
Hi, i would like to know which the process for a clear uninstall? I delete the accessibility permission i give to app and then using appcleaner i delete the app and related files. Is that enough?

[2019-12-31 03:24] krotuk commented on #160
I  can confirm it. Does not work with the LG 34WK95U-W. MacBook Pro mid 2017 non touch bar is connected via thunderbolt 3.

[2019-12-31 07:55] karafso opened #166 "Brightness control only adjust one of two identical monitors"
I have two identical external monitors connected to my MacBook (Iiyama PL2488H). MonitorControl works fine when just one is plugged in, regardless of which port they are hooked up to. However, when both are connected, MonitorControl can only change brightness on one monitor. The second monitor does show up in the menu, but moving its slider changes the brightness on the first monitor.

![image](ht

[2019-12-31 16:13] topmankong commented on #166
I have the same problems, 2 DELL monitors

[2019-12-31 16:23] prenaux opened #167 "Not working with U3818DW"
Hi with the Dell U3818DW the controls are greyed out:
<img width="210" alt="image" src="https://user-images.githubusercontent.com/164860/71627325-c1cf6880-2c2c-11ea-8eed-e4e5ac5de551.png">

Its connected to a mbp 16" to display port in a CalDigit hub which connects through one of the thunderbolt 3 ports.

I'm willing to look / fix it in the code, but I'd need some sort of starting point to know wh

[2019-12-31 16:32] prenaux commented on #167
Ok, so actually it works! There's an option in the display's OSD, in Menu / Others, DDC/CI -> On (it was Off) previously.

The sliders in the menu dont seem to read the screen's state but the keyboard shortcuts work, which is all that really matters to me :)

[2019-12-31 16:32] #167 closed

[2020-01-09 10:52] willerbee opened #169 "App keeps on asking Accessibility access every start even if it already allowed."
![ss1](https://user-images.githubusercontent.com/10969215/72061358-ab9e6800-3310-11ea-97a2-9fc7181385dd.jpg)

![ss2](https://user-images.githubusercontent.com/10969215/72061343-a3dec380-3310-11ea-8c49-d014a58d943b.jpg)

Same goes for other forks, it always ask for accessibility, except for JonyVR's 1.3.1 (the only one that doesn't seem to ask after allowing)

OS: Mojave 10.14.6

[2020-01-09 10:53] JoniVR commented on #169
Have you tried removing it from the list and then adding it again?

[2020-01-09 11:08] willerbee commented on #169
Yep, did that. I also tried removing it, closing the app, adding the app by dragging the app to the list (and also another round using + button) before I started the app. It's as if the app doesn't know that it has already been allowed. Your 1.3.1 seems to have no problems.

[2020-01-09 11:12] JoniVR commented on #169
Can you test if the hotkeys actually work regardless? If they do then it's probably a bug with the dialog itself.

[2020-01-09 11:17] JoniVR commented on #165
I'm not sure what exactly appcleaner uninstalls, but there's usually also a preferences file. You should be able to find it when you enter the following in terminal:
[code]

If you see anything (MonitorControl related) there as a result, run:
[code]

[2020-01-09 11:20] willerbee commented on #169
Nope, hotkeys doesn't work. (but in your 1.3.1 it does)

[2020-01-09 11:24] JoniVR commented on #150
This issue is probably related to #169, I'm going to close this one and use that one for tracking this.

[2020-01-09 11:24] #150 closed

[2020-01-09 11:26] JoniVR commented on #169
Seems to be happening on Catalina too for some people. Will have to look into it in the future.

[2020-01-09 11:26] willerbee commented on #169
God bless you

[2020-01-09 11:37] JoniVR commented on #110
@mathieupost @r3ppy Make sure your display is set as audio output device. If the audio output device is set to anything other than the display you want to control it won't work. This is to make sure that you can still change volume when using headphones and other devices.

[2020-01-09 11:39] JoniVR commented on #164
Closing this as it seems to be a duplicate of #110.

[2020-01-09 11:39] #164 closed

[2020-01-09 11:43] JoniVR commented on #159
The problem with this is that different display have different amounts of brightness levels though, right?

So for example, my 16" has a 500 nits peak brightness screen while my LG Ultrawide only has 300 nits peak brightness. If we sync both to 100%, they still won't have the same amount of brightness (500 nits vs 300 nits).

[2020-01-09 11:50] JoniVR commented on #166
This is a duplicate of #49, it's a long standing issue related that happens when you have 2 identical monitors.

[2020-01-09 11:50] #166 closed

[2020-01-10 08:24] svh1985 commented on #159
Yeah thats true, but better than nothing. Maybe if there is some sort of ratio or offset added like in the brightness menulet. Although I think it should work a bit better than that.

https://github.com/Kalvin126/BrightnessMenulet

![image](https://user-images.githubusercontent.com/5213210/72137263-cad9db80-338a-11ea-9e28-35aea9f2902e.png)

[2020-01-10 15:24] cantchooseaname8 commented on #154
Sorry for the delayed response. I am using an app called Power Manager. You can trigger it to run the following script upon waking up:

#!/usr/bin/osascript

-- Paste your AppleScript here.
tell application "MonitorControl"
		quit
	end tell

	delay 1.0

	tell application "MonitorControl"
		activate
	end tell

[2020-01-11 17:51] abdelgad opened #170 "LG Monitor: have to mute manually after muting"
Monitor: LG 34WL500 (Ultrawide)

after muting (using the keyboard mute key) or getting the volume level to 0, the monitor is muted, unmuting however (with the keyboard mute key) doesn't work, I can adjust the volume but the monitor will stay muted, I have to unmute the monitor manually (using the monitor physical key)
![IMG_4384](https://user-images.githubusercontent.com/59240245/72208480-462eb080

[2020-01-15 10:24] gmelikov commented on #110
Same here, HP z27, connected via usb type-c

[code]

Doesn't change anything.

[2020-01-15 11:16] Bogey commented on #118
I can tell that KAMIKAZEUA's NativeDisplayBrightness works on my rig.
Though I have to disable Display Keyboard shortcuts in System Preferences and set them in NativeDisplayBrightness.

Setting brightness with MonitorControl _only_ works with the slider.
With the keys I can only control the sound, though I would like to remap these keys because the keys overtake the default MacOS sound output. My

[2020-01-16 20:50] Bogey commented on #118
This is the one I'm currently using:
https://github.com/fnesveda/ExternalDisplayBrightness

[2020-01-22 23:17] JoniVR commented on #118
Just an fyi, I am working on this but it requires quite a big rewrite and I don't have that much free time right now.. so it might take me some time.

[2020-01-22 23:20] JoniVR commented on #148
This is something that I plan on adding together with #118 but it requires a lot of rewriting under the hood.. and I'm very limited in time. I made some of the first steps in previous commit linked here (46d7cb6) rewriting the display managing logic.

[2020-01-23 00:28] n8gray commented on #108
I've got the same issue. `ddcctl` doesn't seem to work with it. For example, here's the output of `ddcctl -d 1 -b \?`

[code]

Everything I try ends up with `E: DDC send command failed!`

:cry:

[2020-01-24 08:02] remus-b opened #172 "Issue detecting the output device"
It would be very useful to detect the selected output. I'm not sure if this is possible but I find myself switching between the Monitor speakers and headphones.
The issue is that when I'm using the headphones the key for volume affects the volume of the monitor and not of the headphones.
So I'm quitting the app each time I'm having this, which is many times a week.

[2020-01-24 10:10] JoniVR commented on #172
![image](https://user-images.githubusercontent.com/7591717/73060914-334faf00-3e99-11ea-9523-32efb4577173.png)

Hi, this is already current behaviour. The app detects if the selected output device supports volume control. It also responds to changes in default audio device.

Perhaps your specific device reports back wrongly that it can't set it's own volume?

Can you download the project, run it in

[2020-01-24 10:14] JoniVR commented on #110
@gmelikov Unfortunately not every monitor supports ddc perfectly.. there's really nothing we can do about it sometimes.. what you can try (and what does sometimes help for people) is trying another connecter (displayport usually has the most success), but chances are it's just a bad ddc implementation of the manufacturer.

[2020-01-24 10:17] JoniVR commented on #170
What version of MonitorControl? You can see it in the settings.

[2020-01-24 10:25] JoniVR commented on #158
Soundsource and soundcontrol work differently, they don't make use of ddc/ci. You could try a different connector but if your monitor doesn't support the ddc/ci spec there's not much we can do unfortunately. See #61

[2020-01-24 10:25] #158 closed

[2020-01-24 10:33] JoniVR commented on #105
@Perkka2 or anyone else, if you are still having freeze issues, please report your monitor/cable/gpu in #82 I'm going to consider this closed for now as most of the issues (especially surrounding the `LG 38UC99-W` should be fixed.

[2020-01-24 10:33] #105 closed

[2020-01-24 10:38] JoniVR commented on #162
@andrekolmeijer It is how it currently works.. once #148 is implemented, it should be easier to control the internal display but it requires some refactoring of the code. I'm hoping to be able to allow people to control both internal and external at the same time after the rewrite too but currently it's not supported.

[2020-01-24 10:38] #162 closed

[2020-01-24 12:47] remus-b commented on #172
Thank you for your fast reply! 👍
Going to test this out and let you know.
My use-case is that I change from the menubar from the top right corner the output source. I also tried now at the hardware level (plug-out and in the headphone jack) but no change.
Installing now the Xcode

[2020-01-25 15:19] mRs- commented on #82
same setup and it's not working. maybe because of the HDMI? Currently I have no option to use this with a DisplayPort Cable :/

[2020-01-25 18:31] shamilovtim opened #173 "Thank you!!!"
this is amazing. so glad to have native controls on my 32UD99W. LG should donate to everyone who has contributed to this application.

[2020-01-26 07:46] HunterJKirby opened #174 "Choppiness; high CPU usage when connecting monitor."
When a new monitor is connected, activity monitor shows MonitorControl as "not responding" and using 50-75% of CPU. During this time the dropped frames cause the monitors to be worthless for 10-15 seconds before MonitorControl starts responding again and CPU usage drops to 0.1%.

[2020-01-26 07:55] #174 closed

[2020-01-26 07:56] HunterJKirby commented on #174
Fixed by disabling polling

[2020-01-26 10:43] #165 closed

[2020-01-26 12:18] JoniVR commented on #14
I'm working on this in #148, I'm going to try to make it respect the "Change brightness/volume for all displays" checkbox and allow the user to select it from the display preferences.

Not 100% sure how well it would work since talking to the internal display requires the usage of another (private) api, the same one other brightness tools use. Tracking progress mostly in there.

[2020-01-28 11:37] remus-b commented on #172
I can't manage to make a new build. Deleted the app.
Any tips on how to do a clean install? maybe I have better chances.
My specs: Macbook Pro 15 2018
Monitor: LG 34UC99-W

Thank you.

[2020-01-31 15:18] JoniVR commented on #172
What issue are you specifically running into?

[2020-02-01 00:34] JoniVR commented on #148
Most of the code refactor is done, the internal display respects the `isEnabled` option inside settings and should also work with ctrl modifier (in that case no other displays will be controlled).

Just waiting for https://github.com/the0neyouseek/MediaKeyTap/pull/5 to be reviewed/merged right now. After that I'll do a few more final things and open a PR for review.

[2020-02-01 07:35] the0neyouseek commented on #148
@JoniVR Merged :wink:
Thanks for all your hard work on this

[2020-02-01 13:42] #107 closed

[2020-02-01 13:55] JoniVR commented on #148
Pull Request has been submitted!

For the people that know how to, please feel free to test/review it and report any issues since a lot of the display logic has changed, there's always a bigger chance of introducing new issues. It's pretty hard to test with only one configuration so the more people that test it the better.

[2020-02-01 17:37] the0neyouseek commented on #173
@shamilovtim Thanks for the kind words !
And really, @JoniVR & @reitermarkus have put a lot of effort into making this little piece of software I wrote over a weekend into a fine tool. So, thanks to you guys too !

[2020-02-02 00:58] JoniVR commented on #163
First thing you should definitely try in this case is a different cable when possible. You could be unlucky and have an unsupported display but in quite a lot of cases HDMI doesn't work while something like displayport does.

[2020-02-02 08:33] tbrodbeck opened #176 "Control volume of selected output device regardless of focussed display"
Hey, as an feature request, it would be awesome to be able to only have one output device that can be controlled when focussing any screen.
Usually you do not use your monitor and your local speaker both at the same time, right?

[2020-02-02 14:47] funkyboy commented on #163
Thanks for your help. I ended up returning the monitor because it didn’t fit my needs :(

[2020-02-02 14:47] #163 closed

[2020-02-04 14:34] #19 closed

[2020-02-05 17:23] mrbillpapas opened #177 "Keyboard shortcut for contrast adjustment"
Amazing app! I am so impressed! Is it possible to map keyboard shortcuts for the contrast as wel? Would be great.

[2020-02-15 06:46] kevinjohncutler commented on #136
Any updates to post here? I checked into #134 and #147 but nothing was ever built into a release.

[2020-02-15 06:51] kevinjohncutler opened #178 "Request: allow volume keys to control bluetooth volume"
It would be great if MonitorControl could detect when audio is being played via bluetooth instead of the monitor and allow the default control of that device's audio with the volume keys.

[2020-02-15 11:09] JoniVR commented on #178
This issue seems to be a duplicate of #172. As I mentioned over there this is currently already the case but you may be experiencing a bug. I suggest you follow the same steps I suggested there.

[2020-02-15 11:09] #178 closed

[2020-02-15 11:20] JoniVR commented on #172
One thing to keep in mind (for any other people running into this) is that MonitorControl uses the default output device. So you need to actually select the device you want to play sound from in de sound settings.

![image](https://user-images.githubusercontent.com/7591717/74586982-88d93080-4fed-11ea-988d-6e3c0894c010.png)

[2020-02-18 19:26] innovia commented on #107
Its working for me - thanks for the fix

[2020-02-20 16:21] ndobson commented on #173
I second that, I've only just found this today and you have made my day!

[2020-02-23 11:42] #14 closed

[2020-02-23 11:42] #148 closed

[2020-02-23 11:42] #151 closed

[2020-02-24 03:30] mblumberg opened #179 "Can't remove from MacOS "Login Items""
I specified to add MonitorControl to "Login Items" when installing the app.  Now I want to remove it (because it does not work: Seems I have the same issue as reported in https://github.com/the0neyouseek/MonitorControl/issues/61).  But:

[1] When I got to System Preferences > Users & Groups > Login Items, MonitorControl is not listed
[2] Nevertheless, when I reboot, MonitorControl does auto-launch

[2020-02-24 09:59] JoniVR commented on #179
Have you tried checking/unchecking `Start MonitorControl at login`? in General settings?
![image](https://user-images.githubusercontent.com/7591717/75142947-6ed9d500-56f4-11ea-9db8-bc6350dea4ec.png)

[2020-02-24 14:55] mblumberg commented on #179
Thanks.  That worked: the app no longer launches at login.

Can you clarify why this does not work as expected?  (e.g. When I click in the app UI to set it to "Start at Login", it does not appear in the System Preferences "Login Items" list.)

[2020-02-25 03:49] Vxider opened #180 "Volume icons in TouchBar grayed out even though they are interactable"
When I set the audio output to monitor, the sound icon in touchbar grayed out. So I have never realized that MonitorControl can control the monitor volume until I accidentally clicked the gray volume button. It would be better if the color of the volume button can be changed.
<img width="205" alt="截屏2020-02-2511 41 57" src="https://user-images.githubusercontent.com/6134315/75213024-d743b780-57c3-1

[2020-02-25 03:50] Vxider commented on #41
Vote for this feature

[2020-02-25 06:54] Erik262 commented on #41
Yeah this would be great^^

[2020-02-25 14:25] samtcmu commented on #136
Will this be included in the next release?

[2020-02-25 16:17] kevingrabher opened #181 "Add option to not listen for any keys"
First off - absolutely great tool!

A bug I found:
When not using the tool you can use option/alt + volume/brightness keys to open the corresponding system preferences dialog. This no longer works when the tool is used.

Another nice option to work around this would be to be able to set to listen to neither brightness nor volume keys. That way they behave native but I'd still have the option to co

[2020-02-25 20:05] JoniVR commented on #181
When not using the tool you can use option/alt + volume/brightness keys to open the corresponding system preferences dialog. This no longer works when the tool is used.

This is not really a bug, just that when we listen for the mediakeys, we consume the key, so it's not passed on to the OS itself. This is however being worked on in #168, so once me or someone else gets to reviewing that it'll be

[2020-02-25 20:07] JoniVR commented on #136
I think both of the pull requests still contain some issues that need to be fixed but there hasn't been any activity on either one of them lately.

[2020-02-25 20:08] JoniVR commented on #180
I didn't even know that it still worked when you pressed it.. not sure if we can do much to control that. Worth a try though

[2020-02-25 20:13] JoniVR commented on #179
I honestly have no idea.. my guess is that there are multiple ways to set items as login items and they're not consistent.

I think the login items are a way for you to set specific apps to launch at startup yourself, although we might be able to set it there too, not sure.

You also have, for example, `/Library/LaunchDemons/` and `/Library/LaunchAgents' who also manage startup items that won't sh

[2020-02-25 20:16] mblumberg commented on #179
Thanks --

[2020-02-25 20:16] #179 closed

[2020-02-25 20:51] JoniVR commented on #61
For anyone who runs into this issue in the future, I just created a wiki page with some troubleshooting info:
https://github.com/the0neyouseek/MonitorControl/wiki/Monitor-Troubleshooting

[2020-02-25 21:29] scorpiondev commented on #136
PR #147 was supposed to be superseded by @reitermarkus's PR (#152), but there were still unresolved issues I was waiting on changes for so I could re-test it.

#147 can probably be declined at this point.

[2020-02-28 04:14] Vxider opened #182 "Feature Request: True Tone external monitor"
Is it possible to True Tone the external monitor to synchronize the color temperature of external monitors and macbook's inner monitor?

[2020-02-29 09:13] austboston commented on #160
Also confirmed. Trying to adjust brightness on monitor from Mac without success.

[2020-03-02 08:26] FabioTacke commented on #160
Same here.

[2020-03-02 20:47] JoniVR commented on #160
The LG page says it should support DDC/CI
https://www.lg.com/us/monitors/lg-34WK95U-W-ultrawide-monitor

Maybe check out:
https://github.com/the0neyouseek/MonitorControl/wiki/Monitor-Troubleshooting

[2020-03-03 08:36] FabioTacke commented on #160
Thanks for the advice, @JoniVR! I tried the ddcctl tool. It recognizes the LG display but any command fails with "Failed to poll display!". My monitor is connected to my MacBook Pro (2016, 13") via Thunderbolt 3.
I'm going to try connecting it via HDMI later.

[2020-03-03 23:32] WhosNickDoglio commented on #160
Was having this issue but switching from a HDMI cable to a DisplayPort cable fixed it for me. 👍

[2020-03-04 21:08] sulfurali opened #184 "Stopped working"
Everything was running perfectly but it stoped working a few days ago.
![Bildschirmfoto 2020-03-04 um 21 42 29](https://user-images.githubusercontent.com/61803084/75922161-c4378400-5e62-11ea-9516-c4a0791c2ff2.png)
When pressing the keys, the bars are missing and the monitor won't react.
![Bildschirmfoto 2020-03-04 um 21 56 10](https://user-images.githubusercontent.com/61803084/75922321-17113b80-5e

[2020-03-05 03:46] kevinjohncutler commented on #160
It works for me on this monitor (over DisplayPort). The only issue is that the volume OSD is not completely hidden and flickers.

[2020-03-05 03:57] kevinjohncutler commented on #172
Turns out that "Listen for volume only" caused this bug for me. Changing it back to "listen for both" fixed it. Hopefully that gives a better idea of what causes the bug!

(I had the "volume only" toggle because I was using ExternalDisplayBrightness for brightness control, as they fixed the two-monitor-sync problem a while back).

[2020-03-05 07:28] remus-b commented on #172
Yes, I was using it on "Listen for volume only" also. Because I don't need the brightness adjustments. Maybe this is something that is causing the bug. Let's hope for the best.
Thank you!

[2020-03-07 18:06] electricarts opened #185 "iMac as 2nd Monitor didn't work"
I use an old iMac as a second monitor on my 5K iMac (Thunderbold 3 -> Mini Display Port). With this it seems not to work. Changes in the menulet are ignored.

[2020-03-08 09:34] andrewcrook commented on #182
I was thinking the same using the MacBook's sensor
for Mac mini's, older MacBooks or MacBook in clamshell mode etc may be use an external webcam as a sensor?

[2020-03-09 07:28] Vxider opened #186 "Volume control by output device."
`MonitorControl` now control brightness and volume by active monitor. This logic is fine for brightness because it doesn’t  know which monitor we want to control. But for volume, there is **only one** output device, it would be better if we can get the system output device and control that device no matter which monitor is activated.

For example, my main monitor is the macbook's built-in monitor,

[2020-03-09 07:32] Vxider commented on #182
In addition, when using multiple monitors, the eyes will fell uncomfortable if the color temperatures are inconsistent.

[2020-03-09 11:02] jspv commented on #173
This app is a godsend. Really nice work.

[2020-03-09 18:22] Nemo64 commented on #120
I have a few LG monitors at work here and all have this Problem.
Every volume step increases the volume by 6 units on the display.
6 is fairly quiet, 12 is fairly loud but increasing the volume further bearly makes a difference up to a 100 (except that it distorts more)

But the shift + alt method works beautifully as a workaround in the mean time.

I would also be fine with just a lower maximum v

[2020-03-10 07:54] svenjacobs commented on #173
I, too, want to say thank you for this handy application! Now I don't have to use the complicated OSD of the monitor anymore! 🎉  Thanks!

[2020-03-10 20:54] JoniVR commented on #186
duplicate of #172

[2020-03-10 20:54] #186 closed

[2020-03-10 21:34] JoniVR commented on #172
As you probably noticed a Pull Request has been submitted to fix this issue, thanks for identifying the issue in here, it helped solve it quicker 🙂

[2020-03-11 10:36] alshakero commented on #173
Came here to create such an issue! Such a helpful app. I would donate $10 in a heartbeat. Thank you very much.

[2020-03-11 10:39] chavlji commented on #181
Would love to be able to disable listening to brightness key (so they still controll builtin screen).
What about adding possibility to remap brightness up/down keys? So we can have both...

[2020-03-14 19:05] singalen opened #188 "Default values in the menu sliders on the first run and"
First, thank you! It was a gaping hole in MacOS, thank you for making our lives better!

When I first run MC, all the sliders in the menu defaulted to 0 (leftmost position). The monitor volume, brightness and contrast definitely were not at 0.

I'd love to a) initially see what were the values in the beginning, and b) be able to reset back to monitor defaults (if such a thing as monitor defaults e

[2020-03-16 09:02] EzraLopez commented on #173
It just works! Thank you :D I would like to donate or get a paid version

[2020-03-16 21:29] #184 closed

[2020-03-20 08:02] kumowoon1025 commented on #182
I mean True Tone is the feature that makes colors inconsistent but I agree it would be really cool. Would have to be implemented in software like using ColorSync though I think. If monitor color settings could be managed to mimic True Tone that would be amazing, but don't think it's possible.

Also webcams make for poor ambient light level/temperature sensors in my experience, is there one you fou

[2020-03-20 08:36] kumowoon1025 commented on #188
Do you mean when you launched the app, it actually set the brightness and contrast to its minimum setting on your monitor, or just the UI?

For finding initial values you might have to change the settings if not supported (increase brightness +1, then back -1 etc.)

Monitor "default" settings definitely are a thing, but what those defaults are, and in turn the usefulness of those settings, vary.

[2020-03-20 08:40] kumowoon1025 commented on #185
If the display works that means you're using a AV output adapter, and not the Apple TB3-TB2 adapter right? If the app works using the adapter on a different display, that probably means the iMac in TDM doesn't support DDC. It could be the adapter though. Do you get sound over mDP with this setup?

[2020-03-20 08:57] kumowoon1025 commented on #180
This is not the case for me, you mean you can control the volume with the macOS native volume slider even though it's greyed out? Which model do you have? Which OS?
![Nonfunctional slider for both USB-C and DisplayPort (eGPU) connections.](https://media.kumowoon1025.com/images/lg-volume-unavailable.png)

[2020-03-20 09:42] Vxider commented on #180
I means even the volumn adjust buttons on **touch bar** is gray, it still works.

[2020-03-20 09:49] Vxider commented on #182
@kumowoon1025  Thank you for reminding me, I can try to manually create a color profile. After all, the light in the office will not change, which means that the True Tone color should not change.

[2020-03-20 11:45] kumowoon1025 commented on #180
Ah, sorry I misunderstood. That is strange indeed. To expand on that:

- Compact Control Strip
	![Volume controls are greyed out, but mute still works. Neither slider is functional, despite brightness slider not being grey.](https://media.kumowoon1025.com/images/touchbar2-controlstrip-compact.png)
	- As @Vxider said, the volume adjust buttons are greyed out when control strip is in its compact for

[2020-03-20 12:00] kumowoon1025 commented on #182
Right, if your viewing condition has consistent lighting (i.e. no daytime natural lighting – afternoon fluorescent tube shenanigans) basically white balance.
Though be sure to remember if you ever need to do work where accurate color reproduction is a factor, True Tone confused me so much when it first appeared in all my apple devices, it's so natural I didn't notice until I had a reference.

[2020-03-20 12:20] yanghoonkim commented on #123
It also works for me!

[2020-03-20 15:13] Vxider commented on #180
@kumowoon1025 Sorry for misunderstood, I'm not native english speaker😂. Have you set the default output to monitor?  On my computer, if I set the output device to external monitor(LG Ultra HD), the volume buttons (up, down and mute) are greyed whether control strip is compact. But it works if the external monitor is focused.

I think it's not a bug for the app. macOS cannot control the monitor vol

[2020-03-20 16:45] Vxider commented on #182
True Tone might already work on some external displays, include: Apple’s Thunderbolt Display, which uses the Apple Thunderbolt 3 to Thunderbolt 2 adapter, LG’s UltraFine 5K, and LG’s UltraFine 4K.

source: [Apple’s True Tone technology will work with a few external displays](https://www.theverge.com/2018/7/13/17569330/apple-true-tone-tech-lg-display-ultrafine-macbook-pro-2018)

[2020-03-20 16:53] andrewcrook commented on #182
Yes, those monitors have an ambient light sensor I presume similar to a MacBook Pro’s multi-channel ambient light sensor which is located next to the built-in FaceTime HD camera.

[2020-03-20 17:16] Vxider commented on #182
I do not have any of these monitors, but according to [report](https://appleinsider.com/articles/18/07/18/external-true-tone-display-feature-only-works-when-2018-macbook-pro-lid-is-open), it used macbook's light sensor and True Tune will not available when  macbook is put into clamshell mode by closing the lid.

[2020-03-20 17:24] andrewcrook commented on #182
It must add it as an additional channel and work in combination.

[2020-03-23 14:46] valasco opened #189 "How to hide the icons on taskbar？"
1st. thx for this app，it works on my display.
but the icon is too ugly :>, how can i hide it? I think it will be gone if I delect it,but I can't find where is it.  if there is a way to hide it, please tell me,thx!

best regards!

[2020-03-23 17:47] singalen commented on #188
I mean just the UI.

I'm not asking as much as resetting to a factory settings or reading them. That would be too complicated. But, if the monitor responds to a respective CEC command, to position the settings' knobs to the amount they were set to before the app was launched. If it doesn't, maybe 50% would be a more reasonable default for brightness and contrast than 0.

And yes, I can control the

[2020-03-23 21:45] kumowoon1025 commented on #188
That sounds like a pretty annoying bug though, I was asking if I understand correctly, so if MonitorControl is ever relaunched, your screen turns black?

[2020-03-23 22:32] singalen commented on #188
Nope, it's just the sliders in the UI that default to 0.
I suggest defaulting them to a current setting, or to 50% (except for the volume).

But when I start dragging the brightness/contrast after the first launch (when they were at 0), the screen is naturally getting quite dark, close to 0.

[2020-03-24 08:00] kumowoon1025 commented on #188
It should not be doing that in the first place though, which display do you have? USB-C is most likely alt mode DP and CEC is not involved.

[2020-03-27 23:55] sn0wyfall commented on #189
You can use Bartender or a similar free app to do it

[2020-03-27 23:57] sn0wyfall opened #190 "Doesn't detect screen focus in fullscreen apps"
Hey!

I just want to say firstly, this is a great app.

So the issue I'm having is that when I'm on a full screen app on my external monitor and I change brightness, it changes the brightness of my internal display. In order for it to recognize that the focus is on the monitor I need to switch to a different desktop on the monitor that doesn't contain a fullscreen app.

Thank you for listening!

[2020-03-30 06:38] singalen commented on #188
USB-C, Dell U3818DW.

[2020-03-31 17:53] odenak commented on #170
I have the same problem on my LG 43UD79-B.  I'm using 1.7.1

[2020-04-01 02:07] spin0za commented on #154
The same happened to me today. Last night I set the brightness to 0, and today after waking my Mac I found the brightness slider is at 60% (while the actual value is still 0). With this gap existing, I cannot maximize the brightness even if the slider is at its max. Having to restart the app to have the slider set to the true value.

[2020-04-01 03:11] johnnyutahh opened #192 "Magic Keyboard 2 brightness keys (F1/F2) no longer control external monitors, only MacBook pro display"
For a few weeks after initial install, the Magic Keyboard 2 brightness keys (F1/F2) controlled the external monitors -- which is what I want.

Now said keys only control the native, MacBook Pro display.  (I'm running macOS 10.14.6.)

I've uninstalled and re-installed, both as a .dmg and a homebrew cask. I've removed the `~/Library/Preferences` file. I've pressed the "reset the preferencess" (butto

[2020-04-01 07:35] khal3d opened #193 "Freezing when using NVIDIA GT 650/750M"
Hi,

My Dell P2715Q display and the MacBook screen freeze when I open the app and while it's connected to the mDP <> DP, and it comes back to work right after removing the cable and closing the app. This issue doesn't happen if I used the same screen with the HDMI port.

I have tried using `ddcctl` command, and it's working perfectly.

### Displays

|       Display       	|                 GPU

[2020-04-02 12:39] #172 closed

[2020-04-02 12:53] JoniVR commented on #5
For the CI part, if/when we get to it, Github CI seems to be pretty good now from my experience, maybe that would be a better option now?

[2020-04-02 13:06] JoniVR commented on #193
Seems to be an issue relating to the NVIDIA 750 card needing a different `minReplyDelay` I think.. judging that there's already an issue like this #125 also having the Nvidia card. Can you post this in #82?

[2020-04-02 17:33] the0neyouseek commented on #5
💯% agree with that

Le jeu. 2 avr. 2020 à 14:53, Joni Van Roost <notifications@github.com> a
écrit :

[2020-04-03 06:41] silvetti commented on #120
I have the same issue, and agree with @Nemo64 Nemo, 6 is too low and 12 too high.
I have been working around it by using @JoniVR JoniVR suggestion but it would be great to have a more "default solution".

[2020-04-03 06:59] MaartenBorsje opened #194 "Turn off monitor"
Is it possible to make an option to disable an monitor when it's still connected?(in a way that if I turn of my monitor it doesn't push a signal to it) If it can be added to the app it will be an awesome feature.

[2020-04-03 09:51] JoniVR commented on #189
I agree that it might be better to just use bartender or vanilla to hide the icons you want to hide.

If we allow you to hide the icon there’s no way to access your preferences with the current implementation.

[2020-04-03 09:58] JoniVR commented on #188
MonitorControl should use the last known values for each display if it’s unable to read them from the display itself and then set slider values to those values, that’s the current solution, just not sure why it’s not working on your setup.

Could you perhaps run the app through Xcode and post the debug output?

[2020-04-03 11:48] JoniVR commented on #160
@kevinjohncutler This is a known issue with 2 current PR's open (although they are inactive). It's also pretty hard (almost impossible) to completely hide the default OSD.

I'm closing the issue here now as there are other tracking issues for this. For anyone else running into it, please refer to the links posted above :)

[2020-04-03 11:48] #160 closed

[2020-04-03 11:50] JoniVR commented on #176
You mean that it tries to control the volume of the internal display when it's in focus even though the output is set to the external one? I agree in that case!

[2020-04-03 11:56] #37 closed

[2020-04-03 12:01] JoniVR commented on #190
Can you test this on the new v2.0.0? I think it should work now?

[2020-04-03 12:06] JoniVR commented on #110
For anyone else running into issues, see the troubleshooting wiki:
https://github.com/the0neyouseek/MonitorControl/wiki/Monitor-Troubleshooting

Regarding the 3.5mm issue, can you provide some more info? What version MonitorControl, macOS, ...
Also, it would be really helpful if someone with the issue could run the project in Xcode and post the debug output here.

[2020-04-03 18:40] r3ppy commented on #110
Regarding the 3.5 mm jack. The 3.5 jack is plugged into the audio output of the monitor (DELL U2719D)  rooted to a set of speakers. Monitor Control is on version 1.7.1 (Build 574) on MacOS Catalina 10.15.4 (19E266). Furthermore, the brightness works fine. However, volume controls do not actually change the volume that the monitor is outputting through the speakers.

Giovanni Telussa

[2020-04-03 21:23] singalen commented on #188
I can try it.

[2020-04-04 10:24] KAMIKAZEUA commented on #118
@JoniVR Hey, is this implemented?

[2020-04-04 12:58] JoniVR commented on #118
Not yet, I decided that I would be too many changes at once, I do plan on implementing it in the future though. Sorry if you were waiting for it.

[2020-04-04 19:26] johnnyutahh commented on #192
I installed [2.0.0](https://github.com/the0neyouseek/MonitorControl/releases/tag/v2.0.0) and no change in the above, problematic behavior.

If the software authors have no clue what's happening it'd be nice to know that, and I can stop "manually watching" the issue and try to solve it on my own.

Regardless, my team still loves the features this software provides, way better than manually having t

[2020-04-05 04:24] jjeffrey01 commented on #193
Seconding this, immediately freezes my 750M based system as well.

[2020-04-05 17:28] Hokkusai opened #195 "Media keys produce no control when MonitorControl menu is open"
When MonitorControl menu (the menu in the menu bar with the sun icon) is open, pressing the media keys (brightness, volume) does not produce any effect. Moreover, when the menu is closed the last media key pressed for both volume and brightness will produce one increment or decrement.

[2020-04-05 20:14] SongHoang commented on #82
I can also say I'm having a freezing issue similar to post #193 on a 650M (Macbook Pro Retina 15" Late 2012) and a Dell U2412M. When I unplug my Dell monitor, I can use my laptop again. My Thunderbolt Display works fine though.

[2020-04-05 20:20] SongHoang commented on #125
I had this issue on a 650M and same Dell U2412M monitor on 2.0.0 I can confirm 1.4.0 works.

[2020-04-05 22:58] johnnyutahh commented on #192
Does anyone know if I might be able to map [BetterTouchTool keyboard shortcuts](https://docs.bettertouchtool.net/docs/201_keyboard_shortcuts.html) to the external-monitor's brightness control?

[2020-04-06 04:51] kumowoon1025 commented on #194
I'm not sure if such a feature is related enough to be incorporated into this project, but check out [DisableMonitor](https://github.com/epalzeolithe/DisableMonitor-3.0) (NOT the home-brew cask which is the original archived project, this is a fork that's been maintained, works on 10.15, doesn't kill TB ports, etc)

[2020-04-06 05:07] kumowoon1025 commented on #82
This is not necessarily an issue with the app, but most likely affects these test results; if I connect a display panel to my Mac through multiple routes (e.g. DP and HDMI on eGPU + DP on another eGPU + built in USB-C/DP or HDMI depending on model) usually one of the connections become non-functional if FreeSync version is changed or turned on/off on the display. Issue doesn't persist through a re

[2020-04-06 06:04] inf0dr0id commented on #120
I've the same issue. A relatively quick fix could be an option to swap the default behavior of the volume keys. If turned on a volume key press would then behave as a shift+alt modified and vice versa.

[2020-04-06 06:13] silvetti commented on #120
Yes, @inf0dr0id's idea is quite good!

[2020-04-06 08:28] maartenbithub commented on #194
That's exactly what I needed.

I thought that it makes the utility more complete. But maybe also to complicated.

[2020-04-06 14:21] kumowoon1025 commented on #188
@singalen What do your settings look like, btw (for MonitorControl)?

[2020-04-06 15:14] johnnyutahh commented on #192
If a project collaborator could provide pointers on:

1. where in the code they'd start investigating this problem, and
2. a build procedure

this might provide me an option to look into this myself. I can not commit to doing this, but if I have the info and find myself motivated and resourced (at some point in the future) I might be able to investigate.